<a href="https://colab.research.google.com/github/Um-king/orm/blob/main/24_01_11_%EB%B3%B5%EC%8A%B5_%EB%AC%B8%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
# 1. 다음 숫자 중 5보다 크고, 20보다 작으면서 짝수인 수를 모두 더하는 코드를 완성 해주세요. 오늘 배운 filter 사용은 필수 입니다.

number = [1, 5, 7, 4, 3, 22, 23, 15, 26, 17, 3]

def solution(data):
    num_list = list(filter(lambda x: (x > 5 and x < 20) and x % 2 == 0, number)) # 5 < x < 20 이면서 짝수인 수 => []
    return sum(num_list)

solution(number) # 출력 0

0

In [11]:
# 2. 다음에 정보가 담겨져 있는 것을 Class로 만들어주세요. 메서드로는 '할인' 메서드를 만들어주세요. 예를 들어 아래 책을 10% 할인한다고 하면 4500원이 됩니다. `책.할인(10) == 4500`의 형태로 만들어주시면 됩니다.
# {
#     '책제목': 'hello world python',
#     '책 내용 요약': 'hello world...',
#     '저자': '이호준',
#     '발행일': '2024-01-11',
#     '가격': 5000
# }

class 책:
    def __init__(self, title, content, author, create_date, price):
        self.title = title
        self.content = content
        self.author = author
        self.create_date = create_date
        self.price = price

    def 할인(self, discount):
        amount = self.price * (discount / 100)
        return int(self.price - amount) # 소수점은 버린다.

book = 책('hello world python', 'hello world...', '이호준', '2024-01-11', 5000)
book.할인(10)

4500

In [ ]:
# 3. 다음 문제를 풀고 정답을 제출해주세요.
# 3.1 https://100.pyalgo.co.kr/?page=10#
# 3.2 https://100.pyalgo.co.kr/?page=18#

'''
3 ≤ 캐릭터의 수 ≤ 10
10 ≤ 능력치 ≤ 100
350이 넘는 캐릭터의 이름은 알파벳 순으로 출력합니다.
'''

In [24]:
# 3.1

def solution(data):
    '''
    능력치 합이 350이 넘는 캐릭터를 알파벳 순으로 출력
    '''
    l = list(filter(lambda x: (x[1] + x[2] + x[3] + x[4]) > 350, data)) # 능력치가 350인 캐릭터 확인
    list_sorted = sorted([i[0] for i in l]) # 알파벳순 정렬
    return list_sorted

character_list = [] # 캐릭터를 담는 리스트
cnt = 0 # 최대 10개 캐릭터 생성 가능

print("캐릭터는 최소 3개 이상 최대 10개 까지 입력할 수 있습니다.")
print("능력치는 최소 10~100까지 입력할 수 있습니다.")

while cnt < 10:
    name = input("캐릭터 이름: ")
    power = int(input("공격력: "))
    defense = int(input("방어력: "))
    hp = int(input("체력: "))
    mp = int(input("마력: "))

    l = [name, power, defense, hp, mp]
    character_list.append(l)

    cnt += 1

    if cnt >= 3:
        exit = input("캐릭터를 더 생성하시겠습니까?(1:yes, 2:no)")
        if(exit == "2"):
            break;

solution(character_list)

캐릭터는 최소 3개 이상 최대 10개 까지 입력할 수 있습니다.
능력치는 최소 10~100까지 입력할 수 있습니다.
캐릭터 이름: Gray
공격력: 100
방어력: 100
체력: 100
마력: 100
캐릭터 이름: Gom
공격력: 10
방어력: 10
체력: 10
마력: 10
캐릭터 이름: Allosa
공격력: 100
방어력: 100
체력: 100
마력: 100
캐릭터를 더 생성하시겠습니까?(1:yes, 2:no)2

['Allosa', 'Gray']

In [ ]:
# 3.2 일주일 동안의 최고 기온이 기록된 데이터가 주어집니다.
# 이 데이터에서 가장 높은 온도를 기록한 상위 3일을 찾아 'YY-MM-DD: 온도' 형식으로 반환하는 코드를 작성해주세요.
# 데이터는 'YYYY-MM-DD' 형식의 날짜와 해당 날짜의 최고 온도(섭씨)로 구성됩니다.

'''
제한 사항
각 날짜의 최고 온도는 정수로 주어집니다.
기온 데이터는 최소 7개(일주일)에서 최대 30개(한달)까지 주어질 수 있습니다.
날짜는 중복되지 않습니다.
중복된 온도일 경우 날짜가 빠른 것이 앞에 정렬되어야 합니다.
'''

In [38]:
def solution(data):
    l = sorted(data.items(), key = lambda x : x[1], reverse = True)[:3]
    l2 = [x + ":" + str(y) for x, y in l]
    return l2

print("날짜와 온도는7개 이상 최대 30개 까지 입력할 수 있습니다.")
print("\n-----------------------------\n")

cnt = 0 # 최대 10개 캐릭터 생성 가능
dict = {} # 빈 딕셔너리 생성

while cnt < 30:
    date = input("날짜입력(YYYY-MM-DD): ")
    temperature = int(input("온도입력: ")) # 정수만

    if date in dict: # key 중복 확인
        print("날짜가 중복됩니다.")
        continue

    dict[date] = temperature

    cnt += 1

    if cnt == 7:
        exit = input("날짜 데이터를 추가로 생성하시겠습니까?(1:yes, 2:no)")

        if(exit == "2"):
            break;

solution(dict)

날짜와 온도는7개 이상 최대 30개 까지 입력할 수 있습니다.

-----------------------------

날짜입력(YYYY-MM-DD): 2024-01-01
온도입력: 1
날짜입력(YYYY-MM-DD): 2024-01-02
온도입력: 2
날짜입력(YYYY-MM-DD): 2024-01-03
온도입력: 3
날짜입력(YYYY-MM-DD): 2024-01-04
온도입력: 4
날짜입력(YYYY-MM-DD): 2024-01-05
온도입력: 5
날짜입력(YYYY-MM-DD): 2024-01-01
온도입력: 1
날짜가 중복됩니다.
날짜입력(YYYY-MM-DD): 2024-01-06
온도입력: 6
날짜입력(YYYY-MM-DD): 2024-01-07
온도입력: 7
날짜 데이터를 추가로 생성하시겠습니까?(1:yes, 2:no)2

['2024-01-07:7', '2024-01-06:6', '2024-01-05:5']