<a href="https://colab.research.google.com/github/Um-king/orm/blob/main/24_01_16_%EC%97%B0%EC%8A%B5%EB%AC%B8%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 문제 1: 함수를 인자로 받는 고차함수

주어진 리스트와 함수를 인자로 받아, 리스트의 각 요소에 해당 함수를 적용한 결과를 반환하는 고차함수 apply_function을 작성해주세요.

In [7]:
# 함수와 리스트를 인자로 받는다
# 그리고, 리스트로부터 원소를 하나씩 꺼내서 함수를 적용시킨 다음, 그 결과를 새로운 리스트에 담아준다

def apply_function(lst, func):
    return list(map(func, lst))

# 예제 사용
result = apply_function([1, 2, 3, 4], lambda x: x * 2)
print(result)  # [2, 4, 6, 8]이 출력되어야 함

[2, 4, 6, 8]

# 문제 2: 함수를 반환하는 고차함수
정수 n을 인자로 받아, 다른 정수 x에 n을 곱하는 함수를 반환하는 고차함수 multiply_by_n을 작성해주세요. 힌트를 드리자면 반환 값은 lambda여야 합니다.

In [8]:
def multiply_by_n(n):
    return lambda x: x * n

# 예제 사용
multiplier = multiply_by_n(5)
print(multiplier(3))  # 15가 출력되어야 함

15