<a href="https://colab.research.google.com/github/Um-king/orm/blob/main/%5B%EB%AA%A8%EB%91%90%EC%97%B0%5D_240111_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 복습(함수)

## 함수의 이름은 변수다

In [ ]:
# 파이썬 주석의 권장방법은 코드 내에 작성하는 것

def hello(): # 여기다가 작성하지 않는다.
    '''
    주석은 여기다가 작성하는 것(코드 시작하고 바로 아래) -> 파이썬 doc string 방법
    '''
    pass

In [1]:
def hello():
    pass

print(type(hello)) # 함수도 class! -> 파이썬의 모든 자료형은 class다
# 즉 hello는 function의 인스턴스다. -> function이란 클래스로 만들어진 객체

<class 'function'>

In [ ]:
a = 10

# a는 무엇일까?
# a는 int의 인스턴스! -> int 정수형 클래스로 만들어진 객체이다.

In [2]:
print('hello world') # print : built-in function

hello world

In [3]:
l = [print, print, print] # "함수의 이름은 변수일뿐!" -> print는 built-in function  -> 리스트에 함수명을 넣어놓고
l[2]('hello world') # 이렇게 호출이 가능하다. l[2] = print, 즉 print('문자열')을 호출한 것

hello world

In [6]:
hojun = print # print는 변수이름.. 따라서 print와 hojun이 가리키고 있는 주소는 같다
hojun('hello world')

print(id(hojun), id(print)) # 가리키는 id값이 같다

hello world
132966030087472 132966030087472

# lambda의 응용

## Top 3 - 1. map에서 사용!

In [7]:
# lambda
'''
lambda 사용 시 클론(:)전 x, y는 받을 값이고 클론뒤는 어떻게 할 것인지 식을 작성
'''
add = lambda x, y: x + y # add 라는 람다함수를 만든 것 -> x + y 연산의 add 함수

In [10]:
x = 10
y = 20

print(add(x ,y))

30

In [11]:
# 삼항연산자

x = 10
y = True if x % 2 == 0 else False

print(y)

True

In [12]:
# 재사용 할 것이라면 함수로 생성한다.

def 제곱(x):
    return x ** 2

# map 사용법 -> (함수나 어떤 조건 식, 값)
list(map(제곱, [1, 2, 3, 4])) # 제곱이란 함수에 리스트의 각 값을 넣어 제곱후에 리스트로 형변환

[1, 4, 9, 16]

In [13]:
# 재사용 하지 앟을 것이면 람다함수 사용

list(map(lambda x: x**2, [1, 2, 3, 4])) # 제곱함수를 만든 것과 lambda로 표현한 것이 같은 것

# 클론앞 x는 어떤값을 넣을지
# x에 리스트의 값을 각각 넣고 클론뒤 식을 통해 제곱을 한다.




'''
둘은 동일한 내용이지만
재사용이 필요하다면 함수로 생성하고
재사용이 없다면 람다로 생성한다.

하지만 람다함수도 수식이 복잡해지면 사용x -> 재사용과 별개로 가독성이 떨어짐 -> 이럴땐 함수로 사용
'''

[1, 4, 9, 16]

In [15]:
# 리스트를 map의 값으로 사용하여 각각의 원소를 x값으로 사용하여 값을 호출

# 이정도면 가독성을 해친다고 하진 않음
list(map(lambda x: True if x % 2 == 0 else False, [1, 2, 3, 4])) # 마스킹문법 -> 해당 값을 True, False로(여기선 출력값을 True, False로 필터링한 것)

'''
마스킹 : 어떤 값을 특정 값으로 필터링한 것
-> 특정 조건에 대해서 해당 값들을 특정 값으로 필터링하여 출력하는 것
'''

[False, True, False, True]

## Top 3 - 2. filter에서 사용!

In [ ]:
# filter는 True인 것만 출력합니다.

list(filter(lambda x: x % 2 == 0, range(100))) # 0~99까지 짝수 호출

In [ ]:
list(filter(lambda x: x % 3 == 0, range(100))) # 0~99까지 3의 배수 호출

In [ ]:
list(filter(lambda x: x > 50, range(100))) # x가 50보다 큰것을 필터링

In [ ]:
list(filter(lambda x: x > 50 and x < 80, range(100))) # x가 50보다 크고 80보다 작은 것을 필터링

In [ ]:
list(filter(lambda x: True if x % 3 ==0 or x % 5 == 0 else False, range(100))) # 3과 5의 배수 필터링
# 3과 5의 배수라면 True에 해당하는 값을 필터링한다. -> True를 반환하는게 아니라 해당 값을 반환

In [22]:
list(filter(lambda x: x % 2, range(100))) # 홀수를 출력 -> x % 2로만 조건식을 작성했을때
'''
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
lambda x: x % 2 # x==0 일때 -> 0 => False로 평가
lambda x: x % 2 # x==1 일때 -> 1 => True로 평가
lambda x: x % 2 # x==2 일때 -> 0
lambda x: x % 2 # x==3 일때 -> 1
lambda x: x % 2 # x==4 일때 -> 0
lambda x: x % 2 # x==5 일때 -> 1
lambda x: x % 2 # x==6 일때 -> 0
'''

'''
순회 되게 하려면 map, filter를 사용하고 그렇지 않으면 람다를 변수에 할당해서 값을 넣어 호출하면 된다.
'''

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99]

In [27]:
test = lambda i : i % 2 == 0
[test(i) for i in range(10)] # 순회 가능한 range의 값들을 람다함수의 test에 하나씩 할당하여 해당 조건이 맞는지 아닌지 확인

[True, False, True, False, True, False, True, False, True, False]

## Top 3 - 3 sorted에서 사용!

In [24]:
# sorted()

l = [10, 20, 5, 4, 22, 32, 5, 9, 11]
l.sort() # sort()를 자주 사용하진 않습니다 -> 원본을 변경시키기 때문입니다.
l # 원본이 정렬됨

[4, 5, 5, 9, 10, 11, 20, 22, 32]

In [26]:
l = [10, 20, 5, 4, 22, 32, 5, 9, 11]

# sorted() 원본이 변경되지 않는다. -> sorted의 return값이 정렬된 값! -> 많이 사용
print(sorted(l))
print(l) # l은 그대로!

[4, 5, 5, 9, 10, 11, 20, 22, 32]
[10, 20, 5, 4, 22, 32, 5, 9, 11]

In [ ]:
# sorted() # key, reverse 옵션을 많이 사용한다.
# 알고리즘 문제에서 단골문제이고, sorted 문제는 1문제는 거의 출제
# 최댓값, 최솟값
# 코딩테스트 관련 사이트 : 코딩도장, 프로그래머스, 백준 ..
# 최솟값 문제 예시 : https://codingdojang.com/scode/408?answer_mode=hide 이것도 최솟값!
# 정렬 문제 예시 : https://school.programmers.co.kr/learn/courses/30/lessons/120835

In [ ]:
# 아래와 같은 형식으로 반별 점수가 주어진다고 하겠습니다.

반별점수 = [
    ['이름', '국어', '영어', '수학'],
    ['이름', '국어', '영어', '수학'],
    ['이름', '국어', '영어', '수학'],
    ['이름', '국어', '영어', '수학'],
]

In [28]:
반별점수 = [
    ['홍길동', 30, 55, 22],
    ['홍춘향', 55, 60, 73],
    ['이철수', 32, 65, 68],
    ['이호준', 92, 11, 95],
]

sorted(반별점수) # 실제 값이나, 0번째 값 기준으로 정렬합니다 -> 이름순으로 정렬이 됨(0번째의 값)

[['이철수', 32, 65, 68],
 ['이호준', 92, 11, 95],
 ['홍길동', 30, 55, 22],
 ['홍춘향', 55, 60, 73]]

In [30]:
 # 수학점수로 정렬

def 함수(x):
    return x[3] # 수학점수의 인덱스

# 가장 중요한 것은 이 key 함수의 return 값대로 정렬한다는 것이다. -> 오름차순
sorted(반별점수, key = 함수) # key로 함수를 넣을 수 있다. -> key에 함수명만 작성하면 정렬할 리스트를 확인

'''
    ['홍길동', 30, 55, 22] => 수학점수 22  -> 1
    ['홍춘향', 55, 60, 73] => 73  -> 3
    ['이철수', 32, 65, 68] => 68  -> 2
    ['이호준', 92, 11, 95] => 95  -> 4

    >> 오름차순 정렬 : 22, 68, 73, 95
'''

[['홍길동', 30, 55, 22],
 ['이철수', 32, 65, 68],
 ['홍춘향', 55, 60, 73],
 ['이호준', 92, 11, 95]]

In [31]:
# 람다함수로 생성

# 수학점수인 반별점수[3]의 값을 받아서 정렬하겠다.
sorted(반별점수, key = lambda x: x[3]) # key로 람다를 넣을 수 있다.

[['홍길동', 30, 55, 22],
 ['이철수', 32, 65, 68],
 ['홍춘향', 55, 60, 73],
 ['이호준', 92, 11, 95]]

In [32]:
# 람다함수로 생성

# 영어점수로 정렬
sorted(반별점수, key = lambda x: x[2])

[['이호준', 92, 11, 95],
 ['홍길동', 30, 55, 22],
 ['홍춘향', 55, 60, 73],
 ['이철수', 32, 65, 68]]

In [34]:
# 국, 영, 수, 평균 점수대로 정렬

sorted(반별점수, key = lambda x: x[1] + x[2] + x[3]) # 나눌 필요도 없다 -> 어차피 합이 가장 큰 값이 평균이 높을 것 -> 나누는 순간 필요없는 계산 수행이 들어가는 것이고 속도에 반영
sorted(반별점수, key = lambda x: x[1] + x[2] + x[3], reverse = True) # 역순(내림차순 -> 평균점수가 높은 순으로)

[['이호준', 92, 11, 95],
 ['홍춘향', 55, 60, 73],
 ['이철수', 32, 65, 68],
 ['홍길동', 30, 55, 22]]

In [35]:
# 평균점수가 동점자인 경우 수학점수를 우선순위로 두겠다.

반별점수 = [
    ['홍길동', 50, 50, 50],
    ['이철수', 45, 50, 55],
    ['홍춘향', 60, 35, 75],
    ['이호준', 92, 11, 95]
]

sorted(반별점수, key = lambda x:(x[1] + x[2] + x[3], x[3]), reverse = True)
'''
(x[1] + x[2] + x[3], x[3]) => "튜플로 만들어서 순서대로 가중치를 두도록 설정"
즉 튜플로 만들어서 첫번째 인덱스부터 먼저 판단하고 그 다음 두번째 인덱스의 조건으로 가중치를 판단

1. x[1] + x[2] + x[3] -> 더했을때 가장 큰 값으로 정렬
2. 1의 값이 같을 경우 x[3]의 값으로 정렬
'''

[['이호준', 92, 11, 95],
 ['홍춘향', 60, 35, 75],
 ['이철수', 45, 50, 55],
 ['홍길동', 50, 50, 50]]

In [37]:
# 평균점수가 동점자인 경우 수학점수를 우선순위로 두고 수학점수도 동점인 경우 이름순.

반별점수 = [
    ['홍길동', 51, 50, 50],
    ['이철수', 50, 51, 50],
    ['홍춘향', 60, 35, 75],
    ['이호준', 92, 11, 95]
]

sorted(반별점수, key = lambda x:(x[1] + x[2] + x[3], x[3], x[0]), reverse = True)

[['이호준', 92, 11, 95],
 ['홍춘향', 60, 35, 75],
 ['홍길동', 51, 50, 50],
 ['이철수', 50, 51, 50]]

In [38]:
# 딕셔너리는 그냥 sorted() 사용할 수 없다 -> 크기를 비교할 수 없어서
# 따라서 람다함수를 사용하여 key값 또는 value값을 비교하여 정렬해야한다.

우편번호 = [
    {
        '주소': '경기도 용인시',
        '우편번호': 321
    },
    {
        '주소': '경기도 수원시',
        '우편번호': 355
    },
    {
        '주소': '제주특별자치도 제주시',
        '우편번호': 333
    }
]

# sorted(우편번호) #error, 비교를 할 수 없다!?
sorted(우편번호, key=lambda x: x['우편번호']) # 우편번호로 정렬

[{'주소': '경기도 용인시', '우편번호': 321},
 {'주소': '제주특별자치도 제주시', '우편번호': 333},
 {'주소': '경기도 수원시', '우편번호': 355}]

In [41]:
# '다음' 입사문제
# 직선에 있는 점의 좌표입니다.
# 점과 점사이가 가장 짧은 점의 쌍을 출력하세요

s = [1, 3, 4, 8, 13, 17, 20]
# 출력값: (3, 4)

# 두개씩 묶음
list(zip(s, s[1:]))

[(1, 3), (3, 4), (4, 8), (8, 13), (13, 17), (17, 20)]

In [54]:
# 가장 짧은 거리 구하기

x = list(zip(s, s[1:]))
sorted(x, key = lambda x: x[1] - x[0]) # 가장 짧은 거리 정렬

# 정답!
sorted(x, key = lambda x: x[1] - x[0])[0] # 가장 짧은 거리의 값 출력 -> 정렬했으니 0번째의 값이 가장 사이의 거리가 짧은 좌표

(3, 4)

In [47]:
# 강사님이 자주 쓰는 함수
'''
참고
'''

# 두 값을 쌍으로 묶음
print(list(zip('hello', 'world')))

# enumerate() : 자주사용x
# 순서를 넣을때
print(list(enumerate(zip('hello', 'world'), 1)))

# 보통은 제너레이터를 만들어서 사용
def gen():
    i = 1
    while True:
        yield i
        i += 1

print(list(zip(gen(), 'hello', 'world'))) # zip에 함수를 포함

[('h', 'w'), ('e', 'o'), ('l', 'r'), ('l', 'l'), ('o', 'd')]
[(1, ('h', 'w')), (2, ('e', 'o')), (3, ('l', 'r')), (4, ('l', 'l')), (5, ('o', 'd'))]
[(1, 'h', 'w'), (2, 'e', 'o'), (3, 'l', 'r'), (4, 'l', 'l'), (5, 'o', 'd')]

In [58]:
print(chr(65))  # 정수를 인수로 받아 그에 해당하는 유니코드 문자를 반환
print(ord('a')) # 문자를 인수로 받아 그 문자의 유니코드(또는 ASCII 코드) 값을 반환

A
97

In [62]:
print(sum([10,20,30]))
print(sum([10,20,30], 100)) # 100이라는 초기값 설정

60
160

In [64]:
'''
이런식으로 계산되는 것
1. [] + [1,2,3] -> 빈 리스트에 첫번째 인덱스 값 [1,2,3] 더함
2. [1,2,3] + [4,5,6] -> 2에서 더해진 값에 [4,5,6]을 더함
'''
print(sum([[1,2,3], [4,5,6]], []))

[1, 2, 3, 4, 5, 6]

In [67]:
# 다른 값이 출력될 수도 있다

a = 10

print(a) # a.__str__
a        # a.__repr__
repr(a)

10

'10'

In [75]:
class Notice:
    '''
    게시물 클래스
    '''
    def __init__(self, title, contents):
        self.title = title
        self.contents = contents

    def __str__(self):
        return self.title

    def __repr__(self):
        return f'{self.title}, {self.contents}'

게시물1 = Notice('파이썬 이렇게 어려운줄 몰랐다!', '내가 알던 파이썬이 아니야')
게시물2 = Notice('Django는 이렇게 재밋을 줄 몰랐다!', '파이썬을 잘 못해서 내가 할 수 있을까 생각이 들었는데...')

print(게시물1) # -> 실제 print는 __str__을 메서드를 사용한다. 하지만 우리가 Notice라는 클래스로 __str__의 호출 내역을 바꿨음
게시물1        # 이렇게 쓰면 실제로 __repr__ 메서드를 사용한다. 우리는 Notice라는 클래스롤 __repr__의 호출 내역을 바꾼 것

# 따라서 print로 출력과, 그냥 출력하는건 사용하는 built-in function이 다르다

파이썬 이렇게 어려운줄 몰랐다!

파이썬 이렇게 어려운줄 몰랐다!, 내가 알던 파이썬이 아니야

In [76]:
values = ['A', 'B', 'C', 'D']
print(list(enumerate(values)))
print(list(enumerate(values, 1)))
print(list(enumerate(values, 100))) # 시작값 넣는 것 많이 사용한다.

[(0, 'A'), (1, 'B'), (2, 'C'), (3, 'D')]
[(1, 'A'), (2, 'B'), (3, 'C'), (4, 'D')]
[(100, 'A'), (101, 'B'), (102, 'C'), (103, 'D')]

In [77]:
# 왜 sorted()만 자료형을 반환하나요?
# reversed와 map은 메모리 주소를 가리키는데?
# 정답은 메모리 효율성 때문에, sorted() 호출 시 메모리가 소요된것.

# sorted만 비효율을 감수하고 사용자가 보기 편한 자료형으로 반환한다. -> 비효율을 감수하고 사용자 편의를 제공

print(reversed([1,2,3,4,5]))
print(sorted([1,2,3,4,5]))

<list_reverseiterator object at 0x78ee455ad330>
[1, 2, 3, 4, 5]

# match

* 3.10버전에서 나온 문법이기 때문에 현업에서 거의 사용 못합니다.
* 예를 들어 속도가 매우 빨라야하는 프로젝트를 하게 되었을 경우 파이썬 최신 버전을 사용할텐데, 그러면 match문법을 사용할 수는 있다. 다만 권고하기가 어렵다. match 문법이 동료들이 익숙하지 않기 때문에..
* 2024년에는 중요도가 별표 0.5개 정도 되고
* 2 ~ 3년 후에는 중요도가 3 ~ 4개 정도 올라갈 것으로 보입니다.

In [78]:
# 개인적으로 반대하는 이유, 타언어에 비해서 불편한 점

요일 = 3

match 요일:
    case 0:
        print('일요일')
    case 1:
        print('월요일')
    case 2:
        print('화요일')
    case 3:
        print('수요일')
    case 4:
        print('목요일')
    case 5:
        print('금요일')
    case 6:
        print('토요일')
    case _: # default의 개념 -> 보통 _바로 많이 사용, 없으면 해당 내용을 출력
        print('요일 없음')

'''
    case 5: # 이런식으로 사용할 수 없다. -> 다른 언어에서는 가능한 문법
    case 6:
        print('토요일')
'''

수요일

In [ ]:
text = '1'
match text:
    case '1' | '2': # 이런식으로 or문을 사용하여 할 수 있음 , 위에 case를 연속으로 쓰는것처럼 or문을 연결해서 사용하는것.
        print('1, 2')
    case _: # _는 변수의 이름 -> 조건에 해당하는 값이 없으면 출력, 다른 변수명을 써도 되는데 보통 _를 사용
        print('No Match')

In [79]:
# match 보다 많이 사용될 코드
# 여러분들은 오히려 이런 코드보다 아래 코드를 더 많이 만나게 되실겁니다.
def 요일반환(요일):
    return {
        0: '일요일',
        1: '월요일',
        2: '화요일',
        3: '수요일',
    }.get(요일, '요일없음') # 권고 방법

요일반환(2)
요일반환(100)

'요일없음'

# class

* 여러개를 만들어보면서 공부하는게 좋다.
* GPT에게 여러개의 클래스를 추천받고, GPT에게 짜달라고 해서 그것을 타이핑 해보는 것이 많은 도움이 된다.

* class 클래스이름 => 인스턴스
* class Post => 게시물1, 게시물2, 게시물3...
* class Dot => 점1, 점2, 점3...
* class Matrix => 행렬1, 행렬2, 행렬3...
* class User => 유저1, 유저2, 유저3...
* class Cart(장바구니) => Cart1, Cart2, Cart3...
* class Commnet(댓글) => 댓글1, 댓글2, 댓글3...
* class Character => Licat(주인공), Lion(빌런), Mob1(몬스터)
* class Product => 상품1, 상품2, 상품3...
* class Class_ => 강의1, 강의2, 강의3...
* class Teacher => 강사1, 강사2, 강사3...

In [ ]:
class Car:
    kinds = []
    speed = 300

    def add_kinds(self, name):
        self.kinds.append(name) # class 변수의 kinds를 가리키고 있는 것 -> 따라서 클래스변수의 kinds 리스트에 값을 추가하게 됨
        self.kinds = [] # 인스턴스 변수에 새로운 리스트를 할당한 것 -> 클래스 변수에 있는 kinds 리스트 주소를 사용하는게 아니라 새로운 주소를 가리킨다.

    def change_speed(self, speed):
        self.speed = speed # 인스턴스 변수에 새로운 값을 재할당 -> 새로운 값의 주소를 가리킨다.

In [81]:
# 0번: 기초 상식
# 0.0 __init__ 매직매서드는 없어도 되나요? >> 없어도 괜찮다.

class 우편번호:
    '''
    클래스 변수 선언 -> 모든 인스턴스들은 공유 가능하다
    '''
    제주도 = 100
    경기도 = 101
    전라북도 = 102
    전라남도 = 103

우편번호.제주도

# 왜 이걸 딕셔너리로 만들지 않고 class로 만들었나요?
# >> 재사용성과 확장성 때문


'''
0.1 클래스를 꼭 사용해야 하나요?
일부 자료형에서는 클래스는 꼭 사용해야합니다..

아래와 같이 저장한다고 해서 문제가 생기는가? -> {"제목" : "파이썬", "저자" : "이호준"}
기본클래스(list, tuple, dictionary..)는 매우 느립니다.

데이터의 양(속도), 확장성, 다양성, 자료의 형태 때문에 사용
'''

100

## Post Class

In [84]:
# 1번
# 클래스 설계 시
# 첫 번째로 모든 인스턴스에서 공유해야할 변수(클래스 변수)나 메서드 설정
# 두 번째로 인스턴스 고유의 영역 설정을 어떻게 할 것인가.

# 파이썬에서는 inCreateAt 이런 카멜표기법을 사용하지 않음(C#, JavaScript ...)
# 파이썬에서는 스네이크 표기법 사용
# InCreateAt(파스칼표기법) -> Class 생성시

from datetime import datetime
datetime.now()

class Post:

    def __init__(
            self,
            title = '',         # 초기값 설정 -> 매개변수값이 없다면 초기값 사용
            contents = '',      # 초기값이 설정되었다면 뒤에 변수들도 전부 초기값 설정이 필요
            count = 0,          # 초기값 설정된 매개변수 앞에는 없어도 됨
            created_at = '',
            updated_at = '',
            author = ''
            ):
        '''
        인스턴스 고유의 영역을 정의하는 것
        '''
        self.title = title # title 인스턴스 변수 생성
        self.contents = contents
        self.count = count
        self.created_at = created_at
        self.updated_at = updated_at
        self.author = author

    def __add__(self):
        pass

    def __len__(self):
        pass

    def update(self):
        pass

    def delete(self):
        pass

게시물1 = Post(
    '파이썬은 참 깊군요!',
    '오늘은 파이썬 클래스를 배웠는데 너무 어렵기도 하고 신기했습니다.',
    0,
    '2024-01-11',
    '2024-01-11',
    '이호준'
    )

print(게시물1) # <__main__.Post object at 0x78ee455aea40> 메모리를 가리키고 있음
print(게시물1.title)

<__main__.Post object at 0x78ee455aea40>
파이썬은 참 깊군요!

In [86]:
class Post:

    def __init__(
            self,
            title = '',         # 초기값 설정 -> 매개변수값이 없다면 초기값 사용
            contents = '',      # 초기값이 설정되었다면 뒤에 변수들도 전부 초기값 설정이 필요
            count = 0,          # 초기값 설정된 매개변수 앞에는 없어도 됨
            created_at = '',
            updated_at = '',
            author = ''
            ):
        '''
        인스턴스 고유의 영역을 정의하는 것
        '''
        self.title = title # title 인스턴스 변수 생성
        self.contents = contents
        self.count = count
        self.created_at = created_at
        self.updated_at = updated_at
        self.author = author

    def __add__(self):
        pass

    def __len__(self):
        pass

    def update(self):
        pass

    def delete(self):
        pass

    def __str__(self):
        return self.title

    def __repr__(self):
        return self.title



게시물1 = Post(
    '파이썬은 참 깊군요!',
    '오늘은 파이썬 클래스를 배웠는데 너무 어렵기도 하고 신기했습니다.',
    0,
    '2024-01-11',
    '2024-01-11',
    '이호준'
    )

print(게시물1) # <__main__.Post object at 0x78ee455aea40> 이렇게 출력되면 안되니 대표 문자를 출력하도록 __str__을 클래스내에 첨부
print(게시물1.title)

파이썬은 참 깊군요!
파이썬은 참 깊군요!

In [98]:
class Post:

    def __init__(
            self,
            title = '',         # 초기값 설정 -> 매개변수값이 없다면 초기값 사용
            contents = '',      # 초기값이 설정되었다면 뒤에 변수들도 전부 초기값 설정이 필요
            count = 0,          # 초기값 설정된 매개변수 앞에는 없어도 됨
            created_at = '',
            updated_at = '',
            author = ''
            ):
        '''
        인스턴스 고유의 영역을 정의하는 것
        '''
        self.title = title # title 인스턴스 변수 생성
        self.contents = contents
        self.count = count
        self.created_at = created_at
        self.updated_at = updated_at
        self.author = author

    def __add__(self, next): # +연산의 뒤에 있는 객체가 next로 들어온다.
        return self.count + next.count # 게시물1.count + 게시물2.count


    def update(self, contents):
        self.contents = contents
        return '게시물 수정에 성공했습니다!'

    def __str__(self):
        return self.title

    def __repr__(self):
        return self.title

    def __len__(self):
        pass

    def delete(self):
        pass

    def __eq__(self, next):
        return self.title == next.title

게시물1 = Post(
    '파이썬은 참 깊군요!',
    '오늘은 파이썬 클래스를 배웠는데 너무 어렵기도 하고 신기했습니다.',
    0,
    '2024-01-11',
    '2024-01-11',
    '이호준'
    )

게시물2 = Post('2', '22', 1, '2024-01-11', '2024-01-11', '이호준')

print(게시물1) # __str__ 구현으로 메모리 주소값이 아닌 title이 출력
print(게시물1.title)

# __add__ 함수를 구현
print(게시물1 + 게시물2) # + 연산이 나오면 앞(게시물1)의 __add__가 실행된다.
                         # 즉 +연산이 나오면 게시물1의 __add__함수가 실행, __add__의 매개변수 next에 뒤의 게시물2가 사용된다.

# update 함수 구현
print(게시물1.update('hello world'))
게시물1.contents

# __eq__ 함수 구현 -> title이 같으면 같은 객체로 판단한다.
print(게시물1 == 게시물2)

# 파이썬에서 == 연산자는 값만 평가함 -> 주소가 다른 객체여도 값이 같으면 True

파이썬은 참 깊군요!
파이썬은 참 깊군요!
1
게시물 수정에 성공했습니다!
False

In [91]:
l = [10, 20, 30]

print(len(dir(l)))          # 속성 개수는 47개
print(len(dir(게시물2)))    # 속성 개수는 36개

# 따라서 속도차이가 나는 것

47
36

In [97]:
# 파이썬의 == 연산자는 값만 보고 평가

print([1,2,3] == [1,2,3]) # 값이 같은지
print([1,2,3] is [1,2,3]) # 같은 객체인지

True
False

## Dot Class

In [100]:
# 실제 매직메서드( __add__ ..)를 해당 클래스에서는 이렇게 사용하겠다고 수정.. (override..?)

class Dot:
    def __init__(self, x, y):
        self.x = x
        self.y = y

    def __add__(self, next):
        return (self.x + next.x, self.y + next.y) # tuple로 준 이유는 수정이 어딘가에서 안되게 하기 위해서 -> 값을 고정 / list는 append가 가능하기 때문에

    def __mul__(self, next):
        return (self.x * next.x, self.y * next.y)

    # 두점 사이 거리를 구한다.
    def distance(self, next):
        dx = self.x - next.x
        dy = self.y - next.y
        return (dx**2 + dy**2) ** 0.5 # root는 **0.5로 많이 사용

dot1 = Dot(20, 10)
dot2 = Dot(30, 5)

print(dot1 + dot2)
print(dot1 * dot2)

print(dot1.distance(dot2))

(50, 15)
(600, 50)
11.180339887498949

## Character Class

In [103]:
class Character:
    def __init__(self, name, skill, hp, mp, power, x, y):
        self.name = name
        self.skill = skill
        self.hp = hp
        self.mp = mp
        self.power = power
        self.x = x         # x 좌표
        self.y = y         # y 좌표

    def move(self):
        self.x += 100

    def attact(self, next):
        next.hp -= self.power # 나의 power만큼 몬스터의 hp를 깎는다.


주인공1 = Character('licat', '질풍검', 100, 100, 10, 10, 10)
몹1 = Character('licat', '질풍검', 100, 100, 10, 10, 10)

주인공1.attact(몹1) # 주인공1이 몹1을 공격
몹1.hp

90