<a href="https://colab.research.google.com/github/Um-king/orm/blob/main/%5B%EB%AA%A8%EB%91%90%EC%97%B0%5D_2%EC%A3%BC%EC%B0%A8_4%EC%9D%BC_%EB%A6%AC%EC%8A%A4%ED%8A%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 복습

In [ ]:
# 0.1 + 0.2 = 0.300...4 나오는 이유가 0.1이 2진수로 표현했을 때 무한소수여서

In [9]:
a = 10
b = a
c = b

print(c) # a와 b와 c는 연결되어 있지 않다.

a = 10
b = a
c = b
a = 20
print(c) # a값만 변경됨

a = 10
b = a

# -5~256은 주소를 미리 저장하고 있다.
print(id(a))
print(id(b))

10
10
133269716058960
133269716058640
133269716058640
133269716058640

In [7]:
# -5부터 256은 주소가 같습니다.
a = 10
b = 10

print(id(a))
print(id(b))

a is b # True: -5 ~ 256 값의 주소는 동일하게  가지고 있다.

133269716058640
133269716058640

In [8]:
# 허용
'hello world'.upper()\
    .split()\
    .pop()\
    .lower()

# 허용
'hello world'.upper()    .split()    .pop()    .lower()

# 허용하지 않음
# 'hello world'.upper()
#     .split()
#     .pop()
#     .lower()

'world'

In [2]:
# 가독성을 위한 print문 작성 추천법
# 콤마를 찍지 않은 연결
print('hello world '
    'hello world')

hello world hello world

In [ ]:
# 질문 : 메서드 체인으로 길어지면 어떻게 하나요?
# 답 : 메서드 체인이든, 출력문이든 코드가 80자 이상 길어지면 이미 가독성에 문제가 있는 것.
# 메서드 체이닝을 3개 이상 하는걸 권하지 않고, 코드도 길어지는걸 권하지 않음.

In [4]:
# 문자열 메서드
dir('hello world') # 메서드, 매직메서드, 클래스 변수, 인스턴스 변수 출력

# 문제1: find와 index 차이
'''
find 은 문자열이 없으면 -1
index 는 문자열이 없으면 error

근데 파이썬에서 -1 은 True로 판단

따라서 if 'hello'.find('hi'):   => hi라는 문자열이 없어서 -1을 반환하는데, 파이썬에서 -1은 True로 판단
            print("찾았다")

해당 코드에서 True가 되므로 엄청난 문제가 되는 코드가 된다.
'''

# 문제2: isdigit의 정체
# isdigit이 엄청 많이 사용됨 -> 문자열이 전부 숫자인지 판단
'123'.isdigit()

# 문제3: replace가 어디까지 변환하는지?
# replace는 "정규표현식이 안된다"  -> 정규 표현식 사용은 re.sub
'hello world hello world'.replace('hello', 'hi') # 모두 다 변환 됩니다. 몇개만 변환 되는것이 아니다.

'hi world hi world'

In [ ]:
dir('hello world')

# 문제4 : strip() -> 공백 제거
# 문제5 : zfill() -> 앞에 0으로 채워주는 것(원하는 자릿수만큼, 시간이나 연도에 많이 사용)

# 1. 리스트

* 변경이 가능한 자료형
* 순서가 있는 자료형(시퀀스형 자료형 => 인덱싱과 슬라이싱 가능

In [ ]:
l = [10, 20, 30]

# 라인 수가 길어졌을 때에는 이렇게 사용하시길 권합니다.
# 권고1
l = [10,
     20,
     30]

l = [
     10,
     20,
     30
]

# 권고2
l = [
     10,
     20,
     30,
]
# 하지만 문제가 있다 -> 통신할 때에는 JSON이라는 형식을 사용하게 되는데
# JSON은 마지막에 콤마를 허용하지 않는다.

# 따라서 실무 파이썬만 사용한다면 괜찮은데, 통신이 필요한 곳에서는 마지막에 ,를 붙이면 안된다.


# 문제가 있는 2번이 더 많이 사용되는 이유?
# 실무에서는 콤마를 버전업을 인식하는 경우도 많고,
# 콤마를 빼먹는 경우가 많습니다. 따라서 ,를 마지막에 사용
# 편의성 : Ctrl + C , Ctrl + V 하기 편하다

# 마지막에 누구는 콤마를 쓰고 누구는 콤마를 안쓰고 하면 협업하기 힘들다
# 자동 변환 SW를 사용 (Python Black fomatter 사용 -> 띄어쓰기나 콤마등의 가독성을 지원해줌)

In [12]:
s = 'hello world'
# s[0] = 'y' # 변경 불가 -> 문자열은 변경 불가

# s.replace('h', 'y') # 원본은 변경되지 않음 -> 따라서 재할당을 해야함
s = s.replace('h', 'y')

print(s)

yello world

In [14]:
l = [10, 20, 30]
l[2] # 인덱싱

l[2] = 1000

print(l)

[10, 20, 1000]

In [16]:
l = [10, 20, 30, 40, 50]

l[3:] # 슬라이싱
l[-2:] # 마이너스 인덱싱, 마이너스 슬라이싱은 최종적으로 양수로 치환된다. => -2가 결국엔 최종적으로 양수로 치환되서 3으로 판단된다 즉 [-2:] -> [3:]으로 치환되서 실행

# 변수명[stop]
# 변수명[start:stop]
# 변수명[start:stop:step]

[40, 50]

In [ ]:
type(l), dir(l)
# type은 검색 키워드, GPT 질문 키워드가 될 수 있습니다.
# dir은 대략적인 속성을 알 수 있습니다.

In [20]:
# __add__가 있으니 더하기는 어디까지 될까? => 테스트
# __mul__가 있으니 곱하기는 어디까지 될까? => 테스트

l = [10, 20, 30]

# l + 100 # 서로 다른 타입의 덧셈은 불가
l + [100, 200]

l * 3 # 정수 곱하기 가능
# 리스트 곱하기는 안된다.
# l * [1, 2]

[10, 20, 30, 10, 20, 30, 10, 20, 30]

In [21]:
l = [1,2,3] * 3
l[1] = 1000

l

[1, 1000, 3, 1, 2, 3, 1, 2, 3]

In [22]:
# 리스트 곱하기는 매우 주의해야한다.
# 리스트의 곱하기는 같은 객체를 가리키게 되므로 값을 수정하면 해당 주소를 가리키고 있는 리스트 전부 변경된 값이 반영된다.
# 같은 메모리를 가리키고 있기 때문.
l = [[1,2,3] * 3] * 2
l[1][0] = 1000 # 1,0의 값을 변경했는데 0,0의 값도 변경되서 보임

l

[[1000, 2, 3, 1, 2, 3, 1, 2, 3], [1000, 2, 3, 1, 2, 3, 1, 2, 3]]

In [ ]:
# 수학적인 용어 -> 암기 필요..
x = 10 # 스칼라
x = [10] # 벡터
x = [10, 20] # 벡터
x = [[10, 20], [10, 20]] # 메트릭스(행렬)
x = [[[10, 20], [10, 20]]] # 텐서(3차원 이상 행렬)

In [ ]:
# 텐서플로? -> google에서 만든 딥러닝 라이브러리
# 인공지능 => 행렬의 연산

In [24]:
x = [[1, 2], [3, 4], [5, 6]]

x[1]        # 출력 [3, 4]
x[1][1]     # 출력 4

4

In [27]:
x = [[1, 2], [3, 'hello world'], [5, 6]]

print(x[1][1][-5:])
print(x[1][1][6:])

world
world

In [ ]:
x = 10

# 두개의 출력은 다르다
# print를 하는 것과 맨 마지막 출력하는 것은 다르다!
print(x) # __str__
x # __repr__           // 다른 출력함수

In [37]:
l = [10, 20, 30]
dir(l)

# Shift + Tab => 내여쓰기

'append',
'clear',
'copy',
'count',
'extend',
'index',
'insert',
'pop',
'remove',
'reverse',
'sort'

'sort'

In [38]:
# append : 마지막 인덱스에 값 추가
l.append(100)
l

[10, 20, 30, 100]

In [39]:
# 첫번째 인덱스에 값 추가

# 방법 1
# l = [1000] + l

# 방법 2
# l = [1000] + l[:]

# 방법 3
l.insert(0, 1000)
l

[1000, 10, 20, 30, 100]

In [40]:
# 마지막 값을 제거
l = [10, 20, 30, 40]
l.pop()
l

[10, 20, 30]

In [41]:
# 가장 앞의 값을 제거
l = [10, 20, 30, 40]
l.pop(0)
l

[20, 30, 40]

In [42]:
# 특정 값의 인덱스 값을 찾음
l = [10, 20, 30, 40]
l.index(20)

# l.index(100) -> 값이 없으므로 error

# index는 찾는 값이 없으면 에러..
# list는 find 함수가 없음
# 이때 슬라이싱을 사용 => index가 벗어나도 에러가 나지 않는다.

1

In [44]:
# 리스트 요소 전부 제거
l = [10, 20, 30, 40]
l.clear()
l

[]

In [46]:
l = [10, 20, 30, 40]
ll = l

# l의 리스트의 객체 값을 ll도 동일하게 가리키게 된다. 따라서 l을 수정하면 ll의 값도 변경된다.
l[0] = 1000
ll

# 같은 주소를 가리키고 있는것을 확인할 수 있고, 하나의 값이 변경되면 다른 리스트도 변경됨
print(id(l), id(ll))

133268446372224 133268446372224

In [47]:
# copy를 통한 새로운 메모리 할당
l = [10, 20, 30, 40]
ll = l.copy() # copy 사용시 동일 객체를 가리키는게 아니라 해당 객체를 복제해 새로운 메모리에 할당한다.

l[0] = 1000
print(ll) # 따라서 l의 리스트 객체 값을 새로운 메모리에 할당했으므로 ll의 값은 변하지 않는다.
print(id(l), id(ll))

[10, 20, 30, 40]
133268445115328 133268445265792

In [48]:
l = [10, 20, 30, 40]
ll = l[:] # 슬라이싱을 통해 새로운 변수에 재할당

l[0] = 1000
print(ll) # 새로운 메모리에 할당했으므로 ll의 값은 변하지 않는다.
print(id(l), id(ll))

[10, 20, 30, 40]
133268445243968 133268445244032

In [51]:
# count : 찾고자하는 해당 값의 개수를 출력한다.
l = [1, 1, 1, 2, 2, 2, 3, 3]
print(l.count(1)) # 1의 갯수를 출력

3

In [53]:
'''
# 참고 : https://codingdojang.com/scode/393
1부터 10,000까지 8이라는 숫자가 총 몇번 나오는가?

8이 포함되어 있는 숫자의 갯수를 카운팅 하는 것이 아니라 8이라는 숫자를 모두 카운팅 해야 한다.
(※ 예를들어 8808은 3, 8888은 4로 카운팅 해야 함)
'''

# str(1부터_10000까지_리스트).count('8')
count_8 = str(list(range(10001))).count('8')
count_8

4000

In [54]:
# extend : 마지막 항목에 리스트를 추가

# append는 마지막에 하나의 단어로 들어가지만 -> hello라는 문자열자체로 추가 -> 단일요소 하나 추가!
# extend는 hello라는 문자열을 h,e,l,l,o 이런식으로 추가한다 -> 보통 리스트 형식으로 추가함 -> 여러 요소 개별 추가!

l = [10, 20, 30, 40]
l.extend([50, 60])

l

[10, 20, 30, 40, 50, 60]

In [56]:
# remove : 삭제하고 싶은 값이 리스트내 가장 첫번째 위치의 값의 요소를 삭제

l= [1,1,1,1,2,2,3,3,3]

l.remove(1) # 한가지 요소를 지울 때
l

[1, 1, 1, 2, 2, 3, 3, 3]

In [57]:
# filter : 여러가지 요소를 삭제할 때 사용
# 모든 요소를 filtering하고 싶을때에는 removerk 아니라 filter를 사용한다

def f(x):
    return x != 1

l= [1,1,1,1,2,2,3,3,3]

list(filter(f, l))

[2, 2, 3, 3, 3]

In [62]:
# reverse : 역순 -> 단순히 뒤에서 부터 출력하는것
# 즉 역정렬이 아니고 거꾸로 출력하는 것, 요소 값 크기별로 정렬되는게 아니다.

l = [10, 20, 93, 30, 40]
l.reverse()
l

[40, 30, 93, 20, 10]

In [64]:
# sort() : 정렬 -> 원본을 바꾸는 정렬

l = [10, 20, 93, 30, 40]
l.sort()
l

[10, 20, 30, 40, 93]

In [65]:
# 역정렬
l = [10, 20, 93, 30, 40]
l.sort()
l.reverse()
l

[93, 40, 30, 20, 10]

In [67]:
# 국어 점수가 높은 순으로 정렬 / sorted 함수 사용

# 국, 영, 수, 이름
s = [[100, 87, 91, '이호준'], [56, 38, 89, '이준호'], [33, 86, 100, '홍길동']]

def f(x):
    return x[0] # 국어 점수로만 정렬하겠다

sorted(s, key = f) # 국어점수 낮은 순으로 정렬
sorted(s, key = f, reverse = True) # 역순으로 출력

[[100, 87, 91, '이호준'], [56, 38, 89, '이준호'], [33, 86, 100, '홍길동']]

In [68]:
# 이름순 정렬
s = [[100, 87, 91, '이호준'], [56, 38, 89, '이준호'], [33, 86, 100, '홍길동']]

def f(x):
    return x[3] #  이름순으로 정렬하겠다

sorted(s, key = f)

[[56, 38, 89, '이준호'], [100, 87, 91, '이호준'], [33, 86, 100, '홍길동']]

In [70]:
# 평균점수가 높은 순 정렬
s = [[100, 87, 91, '이호준'], [56, 38, 89, '이준호'], [33, 86, 100, '홍길동']]

def f(x):
    return (x[0] + x[1] + x[2]) #  평균점수 -> 나누기 3 할 필요도 없다(어차피 세개의 점수가 높은 사람이 평균점수가 높으므로 -> /3 자체도 시간..)

sorted(s, key = f, reverse = True)

[[100, 87, 91, '이호준'], [33, 86, 100, '홍길동'], [56, 38, 89, '이준호']]