<a href="https://colab.research.google.com/github/Um-king/orm/blob/main/%5B%EB%AA%A8%EB%91%90%EC%97%B0%5D_2%EC%A3%BC%EC%B0%A8_2%EC%9D%BC_%EC%97%B0%EC%82%B0%EC%9E%90.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. 산술 연산자

In [1]:
# 1.1 나누기 소수점 2번째 자리까지 출력

a = 10
b = 3
divide = a / b
print(f'{a} ÷ {b} = {divide:.2f}')  # 결과: 10 ÷ 3 = 3.33

10 ÷ 3 = 3.33

In [4]:
# 1.2 나머지
print(10 / 3)  # 소수 몫
print(10 // 3) # 정수 몫
print(10 % 3)  # 나머지

3.3333333333333335
3
1

In [7]:
# 음수의 제곱 연산
# 제곱이 된 후에 마이너스가 붙기 때문에 -4

print(-2 ** 2)

# 해결하기 위해선 음수를 괄호로 묶어야한다.

print((-2) ** 2)

-4
4

# 2. 비교 연산자

In [9]:
print(5 != 3) # 결과: True

True

In [10]:
# 연속적인 비교

x = 10
print(5 < x < 15) # 결과 : True

True

In [12]:
import math

result = 0.1 + 0.2
print(result)

print(result == 0.3)              # False
print(math.isclose(result, 0.3))  # True , 수학적인 근거에 의한 값으로만 비교해달라 : 0.3000...4 라는 숫자가 나올 수 없으므로
print(math.isclose(result, 0.29)) # False
print(math.isclose(result, 0.31)) # False
print(math.isclose(result, 0.30000001)) # False

0.30000000000000004
False
True
False
False
False