<a href="https://colab.research.google.com/github/Um-king/orm/blob/main/%5B%EB%AA%A8%EB%91%90%EC%97%B0%5D_240111_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 복습(함수)

## 함수의 이름은 변수다

In [ ]:
# 파이썬 주석의 권장방법은 코드 내에 작성하는 것

def hello(): # 여기다가 작성하지 않는다.
    '''
    주석은 여기다가 작성하는 것(코드 시작하고 바로 아래) -> 파이썬 doc string 방법
    '''
    pass

In [1]:
def hello():
    pass

print(type(hello)) # 함수도 class! -> 파이썬의 모든 자료형은 class다
# 즉 hello는 function의 인스턴스다. -> function이란 클래스로 만들어진 객체

<class 'function'>

In [ ]:
a = 10

# a는 무엇일까?
# a는 int의 인스턴스! -> int 정수형 클래스로 만들어진 객체이다.

In [2]:
print('hello world') # print : built-in function

hello world

In [3]:
l = [print, print, print] # "함수의 이름은 변수일뿐!" -> print는 built-in function  -> 리스트에 함수명을 넣어놓고
l[2]('hello world') # 이렇게 호출이 가능하다. l[2] = print, 즉 print('문자열')을 호출한 것

hello world

In [6]:
hojun = print # print는 변수이름.. 따라서 print와 hojun이 가리키고 있는 주소는 같다
hojun('hello world')

print(id(hojun), id(print)) # 가리키는 id값이 같다

hello world
132966030087472 132966030087472

## lambda의 응용

## Top 3 - 1. map에서 사용!

In [7]:
# lambda
'''
lambda 사용 시 클론(:)전 x, y는 받을 값이고 클론뒤는 어떻게 할 것인지 식을 작성
'''
add = lambda x, y: x + y # add 라는 람다함수를 만든 것 -> x + y 연산의 add 함수

In [10]:
x = 10
y = 20

print(add(x ,y))

30

In [11]:
# 삼항연산자

x = 10
y = True if x % 2 == 0 else False

print(y)

True

In [12]:
# 재사용 할 것이라면 함수로 생성한다.

def 제곱(x):
    return x ** 2

# map 사용법 -> (함수나 어떤 조건 식, 값)
list(map(제곱, [1, 2, 3, 4])) # 제곱이란 함수에 리스트의 각 값을 넣어 제곱후에 리스트로 형변환

[1, 4, 9, 16]

In [13]:
# 재사용 하지 앟을 것이면 람다함수 사용

list(map(lambda x: x**2, [1, 2, 3, 4])) # 제곱함수를 만든 것과 lambda로 표현한 것이 같은 것

# 클론앞 x는 어떤값을 넣을지
# x에 리스트의 값을 각각 넣고 클론뒤 식을 통해 제곱을 한다.




'''
둘은 동일한 내용이지만
재사용이 필요하다면 함수로 생성하고
재사용이 없다면 람다로 생성한다.

하지만 람다함수도 수식이 복잡해지면 사용x -> 재사용과 별개로 가독성이 떨어짐 -> 이럴땐 함수로 사용
'''

[1, 4, 9, 16]

In [15]:
# 리스트를 map의 값으로 사용하여 각각의 원소를 x값으로 사용하여 값을 호출

# 이정도면 가독성을 해친다고 하진 않음
list(map(lambda x: True if x % 2 == 0 else False, [1, 2, 3, 4])) # 마스킹문법 -> 해당 값을 True, False로(여기선 출력값을 True, False로 필터링한 것)

'''
마스킹 : 어떤 값을 특정 값으로 필터링한 것
-> 특정 조건에 대해서 해당 값들을 특정 값으로 필터링하여 출력하는 것
'''

[False, True, False, True]

## Top 3 - 2. filter에서 사용!

In [ ]:
# filter는 True인 것만 출력합니다.

list(filter(lambda x: x % 2 == 0, range(100))) # 0~99까지 짝수 호출

In [ ]:
list(filter(lambda x: x % 3 == 0, range(100))) # 0~99까지 3의 배수 호출

In [ ]:
list(filter(lambda x: x > 50, range(100))) # x가 50보다 큰것을 필터링

In [ ]:
list(filter(lambda x: x > 50 and x < 80, range(100))) # x가 50보다 크고 80보다 작은 것을 필터링

In [ ]:
list(filter(lambda x: True if x % 3 ==0 or x % 5 == 0 else False, range(100))) # 3과 5의 배수 필터링
# 3과 5의 배수라면 True에 해당하는 값을 필터링한다. -> True를 반환하는게 아니라 해당 값을 반환

In [22]:
list(filter(lambda x: x % 2, range(100))) # 홀수를 출력 -> x % 2로만 조건식을 작성했을때
'''
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
lambda x: x % 2 # x==0 일때 -> 0 => False로 평가
lambda x: x % 2 # x==1 일때 -> 1 => True로 평가
lambda x: x % 2 # x==2 일때 -> 0
lambda x: x % 2 # x==3 일때 -> 1
lambda x: x % 2 # x==4 일때 -> 0
lambda x: x % 2 # x==5 일때 -> 1
lambda x: x % 2 # x==6 일때 -> 0
'''

'''
순회 되게 하려면 map, filter를 사용하고 그렇지 않으면 람다를 변수에 할당해서 값을 넣어 호출하면 된다.
'''

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99]

In [27]:
test = lambda i : i % 2 == 0
[test(i) for i in range(10)] # 순회 가능한 range의 값들을 람다함수의 test에 하나씩 할당하여 해당 조건이 맞는지 아닌지 확인

[True, False, True, False, True, False, True, False, True, False]

## Top 3 - 3 sorted에서 사용!

In [24]:
# sorted()

l = [10, 20, 5, 4, 22, 32, 5, 9, 11]
l.sort() # sort()를 자주 사용하진 않습니다 -> 원본을 변경시키기 때문입니다.
l # 원본이 정렬됨

[4, 5, 5, 9, 10, 11, 20, 22, 32]

In [26]:
l = [10, 20, 5, 4, 22, 32, 5, 9, 11]

# sorted() 원본이 변경되지 않는다. -> sorted의 return값이 정렬된 값! -> 많이 사용
print(sorted(l))
print(l) # l은 그대로!

[4, 5, 5, 9, 10, 11, 20, 22, 32]
[10, 20, 5, 4, 22, 32, 5, 9, 11]

In [ ]:
# sorted() # key, reverse 옵션을 많이 사용한다.
# 알고리즘 문제에서 단골문제이고, sorted 문제는 1문제는 거의 출제
# 최댓값, 최솟값
# 코딩테스트 관련 사이트 : 코딩도장, 프로그래머스, 백준 ..
# 최솟값 문제 예시 : https://codingdojang.com/scode/408?answer_mode=hide 이것도 최솟값!
# 정렬 문제 예시 : https://school.programmers.co.kr/learn/courses/30/lessons/120835

In [ ]:
# 아래와 같은 형식으로 반별 점수가 주어진다고 하겠습니다.

반별점수 = [
    ['이름', '국어', '영어', '수학'],
    ['이름', '국어', '영어', '수학'],
    ['이름', '국어', '영어', '수학'],
    ['이름', '국어', '영어', '수학'],
]

In [28]:
반별점수 = [
    ['홍길동', 30, 55, 22],
    ['홍춘향', 55, 60, 73],
    ['이철수', 32, 65, 68],
    ['이호준', 92, 11, 95],
]

sorted(반별점수) # 실제 값이나, 0번째 값 기준으로 정렬합니다 -> 이름순으로 정렬이 됨

[['이철수', 32, 65, 68],
 ['이호준', 92, 11, 95],
 ['홍길동', 30, 55, 22],
 ['홍춘향', 55, 60, 73]]

In [30]:
 # 수학점수로 정렬

def 함수(x):
    return x[3] # 수학점수의 인덱스

# 가장 중요한 것은 이 key 함수의 return 값대로 정렬한다는 것이다. -> 오름차순
sorted(반별점수, key = 함수) # key로 함수를 넣을 수 있다. -> key에 함수명만 작성하면 정렬할 리스트를 확인

'''
    ['홍길동', 30, 55, 22] => 수학점수 22  -> 1
    ['홍춘향', 55, 60, 73] => 73  -> 3
    ['이철수', 32, 65, 68] => 68  -> 2
    ['이호준', 92, 11, 95] => 95  -> 4

    >> 오름차순 정렬 : 22, 68, 73, 95
'''

[['홍길동', 30, 55, 22],
 ['이철수', 32, 65, 68],
 ['홍춘향', 55, 60, 73],
 ['이호준', 92, 11, 95]]

In [31]:
# 람다함수로 생성

# 수학점수인 반별점수[3]의 값을 받아서 정렬하겠다.
sorted(반별점수, key = lambda x: x[3]) # key로 람다를 넣을 수 있다.

[['홍길동', 30, 55, 22],
 ['이철수', 32, 65, 68],
 ['홍춘향', 55, 60, 73],
 ['이호준', 92, 11, 95]]

In [32]:
# 람다함수로 생성

# 영어점수로 정렬
sorted(반별점수, key = lambda x: x[2])

[['이호준', 92, 11, 95],
 ['홍길동', 30, 55, 22],
 ['홍춘향', 55, 60, 73],
 ['이철수', 32, 65, 68]]