<a href="https://colab.research.google.com/github/Um-king/orm/blob/main/%5B%EB%AA%A8%EB%91%90%EC%97%B0%5D_3%EC%A3%BC%EC%B0%A8_2%EC%9D%BC_%EB%B0%98%EB%B3%B5%EB%AC%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. 반복문

In [ ]:
# 함수 기본 구조
def 함수명():
    pass

In [ ]:
# 조건문 기본 구조
if 조건:
    pass

In [ ]:
# for문의 기본 구조

for 변수명 in 순회_가능한_객체 : # 반드시 순회 가능한 객체를 작성
    pass # 수행할_문장

In [ ]:
# 반복문 기초 - 문자열

# 1. 'hello'를 순서대로 하나씩 단어를 꺼내서
# 2. x에 하나씩 넣은 다음에
# 3. 하나씩 for문 아래 코드 블럭을 수행한다.
# 4. 그리고 순서가 마쳐지면 -> 다음 시퀀스(순서)로 넘어가서 똑같은 작업을 수행한다.

for x in 'hello': # 순회가 가능한 객체 -> 문자열 / 리스트 / 다른 데이터셋 / range(10) / 기타등등
    print(f"현자 값은 {x} 입니다.")

현자 값은 h 입니다.
현자 값은 e 입니다.
현자 값은 l 입니다.
현자 값은 l 입니다.
현자 값은 o 입니다.

In [ ]:
for x in range(10):
    print(f"현자 값은 {x} 입니다.")

현자 값은 0 입니다.
현자 값은 1 입니다.
현자 값은 2 입니다.
현자 값은 3 입니다.
현자 값은 4 입니다.
현자 값은 5 입니다.
현자 값은 6 입니다.
현자 값은 7 입니다.
현자 값은 8 입니다.
현자 값은 9 입니다.

In [ ]:
for x in range(10,20,2):
    print(f"현자 값은 {x} 입니다.")

현자 값은 10 입니다.
현자 값은 12 입니다.
현자 값은 14 입니다.
현자 값은 16 입니다.
현자 값은 18 입니다.

In [ ]:
for x in [1,2,3,4,5]:
    print(f"현자 값은 {x} 입니다.")

현자 값은 1 입니다.
현자 값은 2 입니다.
현자 값은 3 입니다.
현자 값은 4 입니다.
현자 값은 5 입니다.

In [ ]:
# 문자열 자료형을 범위로 가져왔을 때!
s = 'hello world'
for i in s:
    print(i)

h
e
l
l
o

w
o
r
l
d

In [ ]:
# 문자열의 숫자를 형변환
s = '123'
result = 0
for i in s:
    result += int(i) # 1 + 2 + 3

print(result)

6

In [ ]:
# 딕셔너리 자료형
# key 값이 출력된다.

단어_사전 = {
    '하나' : 'one',
    '둘' : 'two',
    '셋' : 'three',
}

for i in 단어_사전:
    print(i)

하나
둘
셋

In [ ]:
# items() 함수를 사용하여 튜플 출력.

단어_사전 = {
    '하나' : 'one',
    '둘' : 'two',
    '셋' : 'three',
}

for i in 단어_사전.items():
    print(i)

('하나', 'one')
('둘', 'two')
('셋', 'three')

In [ ]:
# items() 함수를 사용하여 key, value 출력.
# key(키)에 해당하는 value(값) 또한 가져오고 싶다면 아래와 같이 튜플 언패킹을 사용할 수 있습니다.

단어_사전 = {
    '하나' : 'one',
    '둘' : 'two',
    '셋' : 'three',
}

for i, k in 단어_사전.items(): # i와 k라는 변수에 key와 value의 값을 할당
    print(i, k)

하나 one
둘 two
셋 three

In [ ]:
result = 0
for i in range(101):
    result += i
result

5050

In [ ]:
# 짝수 코드를 작성
# 0부터 100까지 짝수를 더하는 코드

# 변수 선언 필요
result = 0
# 리스트라면 비어있는 리스트라도 만들어야한다 result = []
# 비어있는 자료형도 자료형이다. None도 자료형이다

for i in range(101): # 0~100 까지 시퀀스 자료형을 불러온다.
    if i % 2 == 0:   # 0~100 까지 중에서 짝수만 가져온다.
        result += i  # 짝수를 가져와 누적으로 더한다. 0, 2, 4, 6, ... 100 까지 더한다.

print(result)

2550

In [ ]:
# 이 코드는 절반만 순회를 돌고, if문도 확인할 필요가 없어 위 코드에 비해 효율적입니다.

result = 0
for i in range(0, 101, 2):
    result += i
result

2550

# 2. 중첩 반복문

In [ ]:
# code1 다중 리스트
for i in [[1, 2], [10, 20], [100, 200]]:
    print(i) # 리스트내 리스트를 출력

[1, 2]
[10, 20]
[100, 200]

In [ ]:
# code2 리스트[0]의 값을 조건으로 설정
for j in [1, 2]:
    print(j) # 각각의 값을 출력

1
2

In [ ]:
# code 3 : code1과 code2를 합침
# 리스트 안에 있는 또 다른 리스트 안의 값을 출력

for i in [[1, 2], [10, 20], [100, 200]]:
    for j in i:
        print(j)

1
2
10
20
100
200

In [ ]:
for i in [[1, 2], [10, 20], [100, 200]]:
    for j in i:
        print(i)
        print(j)

[1, 2]
1
[1, 2]
2
[10, 20]
10
[10, 20]
20
[100, 200]
100
[100, 200]
200

In [ ]:
#  for를 중첩하여 구구단을 출력

for i in range(2, 10): # 2~9 까지 수행
    print(f'---{i}단---') # 2,3,4, ... 8, 9단
    for j in range(1, 10): # 1~ 9까지 수행
         print(f'{i} * {j} = {i * j}') # j = 1, 2, ... 8, 9 => i * j => 2 * 1 ...

---2단---
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
---3단---
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
---4단---
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
---5단---
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
---6단---
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
---7단---
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
---8단---
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
---9단---
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

# 2.2 리스트 컴프리헨션

In [ ]:
# 그동안 작성법

# 기존 반복문을 통해 리스트에 append
x = []

for i in range(1, 10):
  x.append(i) # append() : 리스트에 값 추가

print(x)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# 리스트 컴프리헨션 : 간결하게 리스트를 생성하는 기능

# 리스트 컴프리헨션을 사용 시 문법의 간결함 증대뿐 아니라 for문으로 append하는 것보다 속도가 빠르다

# step1 list안에 for문을 가져옵니다.
[for i in range(1, 10)] # for문 시작하는 조건을 가져오고 리스트로 묶는다.

# step2 append 항목을 앞으로 가져옵니다. -> 여기서 i를 뜻함 -> 자동으로 append
# for 앞에 변수는 리스트에 들어갈 값. for는 리스트에 담을 값의 조건
a = [i for i in range(1, 10)] # 출력: [1, 2, 3, 4, 5, 6, 7, 8, 9]
b = [i*2 for i in range(1, 10)] # 출력: [2, 4, 6, 8, 10, 12, 14, 16, 18]

In [ ]:
# 첫번째 i = 리스트에 append할 값
# 두번째 for문을 사용하여 어떤 값을 append할건지 조건 설정
c = [i for i in range(1, 10)]
print(c)

a = [i for i in range(1, 10)] # 출력: [1, 2, 3, 4, 5, 6, 7, 8, 9]
b = [i*2 for i in range(1, 10)] # 출력: [1, 2, 3, 4, 5, 6, 7, 8, 9]
print(a)
print(b)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [ ]:
# 리스트 컴프리헨션 + 조건문 => 반복문에 해당하는 내역의 조건을 설정
l = [i for i in range(1, 100) if i % 3 == 0 or i % 5 == 0]
l

[3,
 5,
 6,
 9,
 10,
 12,
 15,
 18,
 20,
 21,
 24,
 25,
 27,
 30,
 33,
 35,
 36,
 39,
 40,
 42,
 45,
 48,
 50,
 51,
 54,
 55,
 57,
 60,
 63,
 65,
 66,
 69,
 70,
 72,
 75,
 78,
 80,
 81,
 84,
 85,
 87,
 90,
 93,
 95,
 96,
 99]

In [ ]:
l = [i for i in range(1, 10) if i % 2 == 0] # 짝수만
l

[2, 4, 6, 8]

In [ ]:
# 조건문이 많아질 경우 가독성이 떨어지므로 for문과 if문을 컴프리헨션이 아닌 기존처럼 작성하는게 좋다.
nums = [1, 2, 3, 4, 5]
result = [f'{x}는 3보다 큰 짝수' if x % 2 == 0 else f'{x}는 3보다 큰 홀수' for x in nums if x > 3]
print(result) # 출력: ['4는 3보다 큰 짝수', '5는 3보다 큰 홀수']

['4는 3보다 큰 짝수', '5는 3보다 큰 홀수']

In [ ]:
# 컴프리헨션이 아닌 가독성을 위한 추천 코드 작성
result = []
nums = [1, 2, 3, 4, 5]
for x in nums:
    if x > 3:
        if x % 2 == 0:
            result.append(f'{x}는 3보다 큰 짝수')
        else:
            result.append(f'{x}는 3보다 큰 홀수')
print(result)

['4는 3보다 큰 짝수', '5는 3보다 큰 홀수']

In [1]:
# 중첩된 리스트 컴프리헨션

# 리스트 컴프리헨션: 중첩된 반복문
c = [f'{i} × {j} = {i*j}' for i in range(2, 10) for j in range(1, 10)]

# 리스트 컴프리헨션: 중첩된 컴프리헨션
cc = [[f'{i} × {j} = {i*j}' for j in range(1, 10)] for i in range(2, 10)]

# 전통적인 방법
c_list = []
for i in range(2, 10):
    for j in range(1, 10):
        c_list.append(f'{i} × {j} = {i*j}')

In [2]:
def sumthingFunction(i): # 함수 sumthingFunction(i) 생성
    if i % 100 ==0:      # 조건문 100으로 나눴을때 나머지가 0이 되는것
        return i         # 조건에 일치하면 i, 일치하지 않으면 0을 리턴
    else:
        return 0

l = [100, 200, 300, 101, 202, 303]
l = [sumthingFunction(i) for i in l] # 리스트 컴프리헨션에 함수가 들어가 있는 예제
l # 출력: [100, 200, 300, 0, 0, 0]

[100, 200, 300, 0, 0, 0]

In [5]:
# lamdba 식 사용

l = [100, 200, 300, 101, 202, 303]
l2 = [(lambda x : x * x) (x) for x in l]
print(l2)

[10000, 40000, 90000, 10201, 40804, 91809]

In [7]:
# 전통적인 방법
d = {}
for i in range(5):
    d[i] = i**2

# 딕셔너리 컴프리헨션 사용
dd = {i: i**2 for i in range(5)} # key값과 value값을 할당하고 반복문 실행
# i : i**2 에서 첫번째 i는 key로, i**2는 value로 저장된다.

print(d)
print(dd)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}
{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [8]:
# 복합 순회형 자료 for문

# 각각의 인덱스에 맞는 값들을 언패킹하여 출력
for i, j, k in ['abc', 'def', 'ghi']:
    print(i, j, k)

a b c
d e f
g h i

In [9]:
# 튜플 형태 언패킹

skill = [
        ('고기잡이', 100),
        ('고기팔기', 120),
        ('낚시', 5),
        ('통발', 5),
        ('큰그물', 5)
]

for i, j in skill: # 각 튜플을 하나씩 가져와서 i, j에 저장한 후 출력
    print(i, j)

고기잡이 100
고기팔기 120
낚시 5
통발 5
큰그물 5

In [12]:
# 하나만 리스트여도 쌍이면 상관없이 잘 돌아감
# 하지만 튜플내 요소의 갯수는 전부 동일해야한다.
skill = [
        ('고기잡이', 100, 'SS'),
        ('고기팔기', 120, 'SSS'),
        ('낚시', 5, 'C'),
        ('통발', 5, 'C'),
        ('큰그물', 5, 'C')
]

for skillName, skillLevel, skillGrade in skill:
    print(skillName, skillLevel, skillGrade)

고기잡이 100 SS
고기팔기 120 SSS
낚시 5 C
통발 5 C
큰그물 5 C

In [13]:
# enumerate는 순서를 매길 때 사용

영화누적관객수 = ['레미제라블', '뷰티인사이트', '매트릭스', '인셉션', '어거스트 러쉬']
for i in enumerate(영화누적관객수):
    print(i)

(0, '레미제라블')
(1, '뷰티인사이트')
(2, '매트릭스')
(3, '인셉션')
(4, '어거스트 러쉬')

In [14]:
# 자주 쓰는 문법?
for i, j in enumerate(영화누적관객수, 1):
    print(f'누적관객수 {i}위! {j}!') # i에는 index값(1부터), j에는 영화제목

누적관객수 1위! 레미제라블!
누적관객수 2위! 뷰티인사이트!
누적관객수 3위! 매트릭스!
누적관객수 4위! 인셉션!
누적관객수 5위! 어거스트 러쉬!

# 3. While 문

In [ ]:
# while 기본 구조

while 구문: # 참의 조건
    pass # 수행할 문장

In [15]:
# while문 기초
a = 1

while a < 10 :
	print(a)
	a += 1

1
2
3
4
5
6
7
8
9