<a href="https://colab.research.google.com/github/Um-king/orm/blob/main/%5B%EB%AA%A8%EB%91%90%EC%97%B0%5D_%ED%8C%90%EB%8B%A4%EC%8A%A4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. 판다스 개요

In [ ]:
import pandas as pd # as pd : 별명/별칭 설정 -> pandas를 pd로 쓰겠다.

# 데이터프레임 생성
# 딕셔너리 형태로 할당
data = {'이름': ['홍길동', '임꺽정', '이순신'],
        '나이': [30, 35, 40],
        '도시': ['서울', '부산', '광주']}
df = pd.DataFrame(data)
print(df)

    이름  나이  도시
0  홍길동  30  서울
1  임꺽정  35  부산
2  이순신  40  광주

In [ ]:
import pandas as pd

# 시리즈 생성
names = pd.Series(['홍길동', '임꺽정', '이순신'])

In [ ]:
import pandas as pd

# 엑셀 파일을 DataFrame으로 불러오기
df = pd.read_excel("example.xlsx")

In [ ]:
# CSV 파일을 DataFrame으로 불러오기
pd.read_csv("/content/sample_data/california_housing_test.csv")

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0
...,...,...,...,...,...,...,...,...,...
2995,-119.86,34.42,23.0,1450.0,642.0,1258.0,607.0,1.1790,225000.0
2996,-118.14,34.06,27.0,5257.0,1082.0,3496.0,1036.0,3.3906,237200.0
2997,-119.70,36.30,10.0,956.0,201.0,693.0,220.0,2.2895,62000.0
2998,-117.12,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0
2999,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0

In [ ]:
# CSV 파일을 DataFrame으로 불러오기
test = pd.read_csv("/content/sample_data/california_housing_test.csv")

print(test.head()) # 상위 5개
print(test.tail()) # 하위 5개

   longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0    -122.05     37.37                27.0       3885.0           661.0
1    -118.30     34.26                43.0       1510.0           310.0
2    -117.81     33.78                27.0       3589.0           507.0
3    -118.36     33.82                28.0         67.0            15.0
4    -119.67     36.33                19.0       1241.0           244.0

   population  households  median_income  median_house_value
0      1537.0       606.0         6.6085            344700.0
1       809.0       277.0         3.5990            176500.0
2      1484.0       495.0         5.7934            270500.0
3        49.0        11.0         6.1359            330000.0
4       850.0       237.0         2.9375             81700.0

In [ ]:
# DataFrame의 요약 정보 출력
print(test.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           3000 non-null   float64
 1   latitude            3000 non-null   float64
 2   housing_median_age  3000 non-null   float64
 3   total_rooms         3000 non-null   float64
 4   total_bedrooms      3000 non-null   float64
 5   population          3000 non-null   float64
 6   households          3000 non-null   float64
 7   median_income       3000 non-null   float64
 8   median_house_value  3000 non-null   float64
dtypes: float64(9)
memory usage: 211.1 KB
None

In [ ]:
# Null
# 1. Null이 있으면 머신러닝 모델의 대대분을 돌리지 못합니다. (딥러닝도 거의 동일)
#    Null은 0도 아니고 NAN도 아니다. Null을 임의로 치환하는 건 굉장히 위험하다.
# 만약 있다면 Null을 최대한 제거하고 분석하는 것을 추천 -> Null 값을 가지고 있는 데이터가 다른 데이터와 다른지 아닌지 파악 중요

In [ ]:
# DataFrame의 통계적 요약 정보 출력
# 1. Min / Max 확인 필요 -> 9999999 / -9999999 이런 이상한 문제가 나올 수 있다.(*******)
#    이러한 값들을 제거하거나 파악하고 처리해야한다.
# 2. Mean -> 평균이 우리가 아는 수치와 비슷한지 파악 필요
# 3. 25%, 50%, 70% -> 데이터가 편중되어 있는지 아니면 잘 분포되어 있는지 -> 표준편차
#    3번의 예) 1 1 1 1 1 1 1 1 2 3 4 5 이런식으로 존재하면 25,50,75% 전부 1로 나오는 경우가 있을 수 있다.

print(test.describe())

         longitude    latitude  housing_median_age   total_rooms  \
count  3000.000000  3000.00000         3000.000000   3000.000000
mean   -119.589200    35.63539           28.845333   2599.578667
std       1.994936     2.12967           12.555396   2155.593332
min    -124.180000    32.56000            1.000000      6.000000
25%    -121.810000    33.93000           18.000000   1401.000000
50%    -118.485000    34.27000           29.000000   2106.000000
75%    -118.020000    37.69000           37.000000   3129.000000
max    -114.490000    41.92000           52.000000  30450.000000

       total_bedrooms    population  households  median_income  \
count     3000.000000   3000.000000  3000.00000    3000.000000
mean       529.950667   1402.798667   489.91200       3.807272
std        415.654368   1030.543012   365.42271       1.854512
min          2.000000      5.000000     2.00000       0.499900
25%        291.000000    780.000000   273.00000       2.544000
50%        437.000000   1155.000000   409.50000       3.487150
75%        636.000000   1742.750000   597.25000       4.656475
max       5419.000000  11935.000000  4930.00000      15.000100

       median_house_value
count          3000.00000
mean         205846.27500
std          113119.68747
min           22500.00000
25%          121200.00000
50%          177650.00000
75%          263975.00000
max          500001.00000

In [ ]:
# inplace 매개변수를 사용하지 않는 경우
df = df.dropna()

# inplace=True를 사용하는 경우
df.dropna(inplace=True) # inplace=False가 기본값이고 True로 사용하면 재할당하지 않아도 반영된다.

# 위에 df = df.dropna()와 동일한 코드 -> 재할당했지만 밑에 코드는 재할당하지 않음

In [ ]:
# 샘플 데이터프레임 생성
data = {'이름': ['홍길동', '임꺽정', None],
        '나이': [30, None, 40],
        '도시': ['서울', '부산', '광주']}
df = pd.DataFrame(data)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   이름      2 non-null      object
 1   나이      2 non-null      float64
 2   도시      3 non-null      object
dtypes: float64(1), object(2)
memory usage: 200.0+ bytes

In [ ]:
# 문자형 데이터는 describe() 출력하지 않는다.
df.describe()

              나이
count   2.000000
mean   35.000000
std     7.071068
min    30.000000
25%    32.500000
50%    35.000000
75%    37.500000
max    40.000000

In [ ]:
# 결측치 처리

import pandas as pd
import numpy as np

# 샘플 데이터프레임 생성
data = {'이름': ['홍길동', '임꺽정', None],
        '나이': [30, None, 40],
        '도시': ['서울', '부산', '광주']}
df = pd.DataFrame(data)

# 결측치가 포함된 데이터프레임 출력
print("원본 데이터프레임:\n", df)

# 결측치 제거 -> None과 NaN을 제외하고 출력
df.dropna(inplace=True)

# 결측치가 제거된 데이터프레임 출력
print("\n결측치 제거 후 데이터프레임:\n", df)

원본 데이터프레임:
      이름    나이  도시
0   홍길동  30.0  서울
1   임꺽정   NaN  부산
2  None  40.0  광주

결측치 제거 후 데이터프레임:
     이름    나이  도시
0  홍길동  30.0  서울

In [ ]:
# Pandas DataFrame 예시
import pandas as pd

df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'City': ['New York', 'Paris', 'Berlin']
})

# 각 속성 호출
print("Shape:", df.shape) # (행의 개수, 열의 개수) 형태의 튜플 반환
print("Data Types:\n", df.dtypes) # 각 열의 데이터 타입 호출
print("Index:", df.index) # 행의 인덱스 정보 제공 -> 0 index 부터 몇까지 몇 step
print("Columns:", df.columns) # 컬럼명 호출

Shape: (3, 3)
Data Types:
 Name    object
Age      int64
City    object
dtype: object
Index: RangeIndex(start=0, stop=3, step=1)
Columns: Index(['Name', 'Age', 'City'], dtype='object')

In [ ]:
# 실습

# CSV 파일을 DataFrame으로 불러오기
test = pd.read_csv("/content/sample_data/california_housing_test.csv")

In [ ]:
print("Shape of DataFrame:", test.shape)

Shape of DataFrame: (3000, 9)

In [ ]:
print("Data Types:", test.dtypes)

Data Types: longitude             float64
latitude              float64
housing_median_age    float64
total_rooms           float64
total_bedrooms        float64
population            float64
households            float64
median_income         float64
median_house_value    float64
dtype: object

In [ ]:
print("Index:", test.index) # 행의 인덱스 정보 : stop=3000 -> 3000개의 행 확인

Index: RangeIndex(start=0, stop=3000, step=1)

In [ ]:
print("Columns:", test.columns)

Columns: Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value'],
      dtype='object')

In [ ]:
import pandas as pd

# 예시 데이터프레임 생성
data = {
    'Name': ['Alice', 'Bob'],  # 문자열 타입
    'Age': ['25', '30'],       # 숫자 데이터를 문자열로 표현
    'Member': ['True', 'False'],  # 불린 데이터를 문자열로 표현
    'Join Date': ['2021-01-01', '2021-07-01']  # 날짜 데이터를 문자열로 표현
}

# DB -> 문자열로 저장하면 메모리, 저장용량 효율적

df = pd.DataFrame(data)

# 결과 출력
print(df)
print(df.dtypes)

    Name Age Member   Join Date
0  Alice  25   True  2021-01-01
1    Bob  30  False  2021-07-01
Name         object
Age          object
Member       object
Join Date    object
dtype: object

In [ ]:
# 데이터 타입 변환
df['Age'] = df['Age'].astype(int)  # 'Age' 열을 정수형으로 변환
df['Member'] = df['Member'].astype(bool)  # 'Member' 열을 불린형으로 변환
df['Join Date'] = pd.to_datetime(df['Join Date'])  # 'Join Date' 열을 datetime으로 변환

# 결과 출력
print(df)
print(df.dtypes)

    Name  Age  Member  Join Date
0  Alice   25    True 2021-01-01
1    Bob   30    True 2021-07-01
Name                 object
Age                   int64
Member                 bool
Join Date    datetime64[ns]
dtype: object

In [ ]:
# 단일 열 선택 -> 시리즈 객체 반환
df['Name']

0    Alice
1      Bob
Name: Name, dtype: object

In [ ]:
# 다중 열 선택 -> 새로운 데이터 프레임 반환
df_name_age = df[['Name', 'Age']]
df_name_age

    Name  Age
0  Alice   25
1    Bob   30

In [ ]:
import pandas as pd
import numpy as np

# 예시 데이터프레임 생성
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'City': ['New York', 'Paris', 'Berlin']
}
df = pd.DataFrame(data)

# 단일 열 선택 -> 결과는 Series
age_series = df['Age']
print(type(age_series))

# 다중 열 선택 -> 결과는 DataFrame
subset_df = df[['Name', 'City']]
print(type(subset_df))

# loc 사용 예시 # 첫번째가 행, 두번째가 열
# [행, 열] -> [:, 'Age'] -> 전체행, Age column
# 즉 전체 행에 대해서 Age열의 값을 호출
print(df.loc[:, 'Age'])

# iloc 사용 예시
print(df.iloc[:, 1])

# 결측치 추가
df.loc[1, 'Age'] = np.nan

# 결측치 확인 -> null이 아니면 false null이면 True
print(df['Age'].isnull())

<class 'pandas.core.series.Series'>
<class 'pandas.core.frame.DataFrame'>
0    25
1    30
2    35
Name: Age, dtype: int64
0    25
1    30
2    35
Name: Age, dtype: int64
0    False
1     True
2    False
Name: Age, dtype: bool

In [ ]:
# series 메서드 활용

import pandas as pd

# Series 생성
data = pd.Series([10, 20, 20, 30, 40])

# sum(), mean(), value_counts() 사용 예시
print("Sum:", data.sum())           # 합계
print("Mean:", data.mean())         # 평균
print("Value Counts:\n", data.value_counts())  # 빈도 계산

Sum: 120
Mean: 24.0
Value Counts:
 20    2
10    1
30    1
40    1
dtype: int64

In [ ]:
import pandas as pd

# Series 생성
data = pd.Series([10, 15, 20, 25, 30])

# 다양한 메서드 활용
print("Minimum:", data.min())          # 최소값
print("Maximum:", data.max())          # 최대값
print("Standard Deviation:", data.std())  # 표준편차
print("Variance:", data.var())          # 분산
print("Number of Unique Values:", data.nunique())  # 고유값 개수

# 데이터프레임 요약
df = pd.DataFrame({
    'Age': [25, 30, 35, 40, 45],
    'Salary': [50000, 55000, 60000, 65000, 70000]
})
print("\nDataFrame Summary:\n", df.describe())
print("\nDataFrame Info:")
df.info()

Minimum: 10
Maximum: 30
Standard Deviation: 7.905694150420948
Variance: 62.5
Number of Unique Values: 5

DataFrame Summary:
              Age       Salary
count   5.000000      5.00000
mean   35.000000  60000.00000
std     7.905694   7905.69415
min    25.000000  50000.00000
25%    30.000000  55000.00000
50%    35.000000  60000.00000
75%    40.000000  65000.00000
max    45.000000  70000.00000

DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Age     5 non-null      int64
 1   Salary  5 non-null      int64
dtypes: int64(2)
memory usage: 208.0 bytes

In [ ]:
# 실습!
test = pd.read_csv("/content/sample_data/california_housing_test.csv")
test_series = test['housing_median_age']

In [ ]:
print(test_series)

0       27.0
1       43.0
2       27.0
3       28.0
4       19.0
        ...
2995    23.0
2996    27.0
2997    10.0
2998    40.0
2999    42.0
Name: housing_median_age, Length: 3000, dtype: float64

In [ ]:
# 각 요소에 1 더하기
test_plus_one = test_series + 1
test_plus_one

0       28.0
1       44.0
2       28.0
3       29.0
4       20.0
        ...
2995    24.0
2996    28.0
2997    11.0
2998    41.0
2999    43.0
Name: housing_median_age, Length: 3000, dtype: float64

In [ ]:
# 각 요소에 2 곱하기
test_times_two = test_series * 2
test_times_two.head()

0    54.0
1    86.0
2    54.0
3    56.0
4    38.0
Name: housing_median_age, dtype: float64

In [ ]:
# 조건부 연산 및 불린 연산(아주 중요)

# 불린 연산이 가능하다 -> 해당하는 값만 가져올수 있다
# True, False의 값을 반환 -> 해당 조건에 맞는 값에 대한 True, False반환
high_age = test_series > 30.0
print("High age:\n", high_age.head())

High age:
 0    False
1     True
2    False
3    False
4    False
Name: housing_median_age, dtype: bool

In [ ]:
# 조건을 만족하는 요소만 "필터링"

# 해당하는 값만 가져오는 조건을 설정하고 해당 조건의 값으로 필터링에 사용가능
# 필터링! -> 30보다 큰 값만 호출, high_age의 값에 대한 조건을 설정했고, 그 내용을 토대로 필터링하여
# 해당 내용에 맞는 값만 반환한다.
filtered_series = test_series[high_age]
print("Filtered Series:\n", filtered_series.head())

# high_age는 True, False를 반환했고 해당 내용에 True에 해당하는 값을 필터링: True 값만 출력

Filtered Series:
 1     43.0
5     37.0
6     43.0
9     31.0
10    45.0
Name: housing_median_age, dtype: float64

In [ ]:
# 열 이름 변경 예시
# columns({변경하기전: 변경한 후, 변경하기전 : 변경한 후})
import pandas as pd

df = pd.DataFrame({
    'A': [1, 2, 3],
    'B': [4, 5, 6],
    'C': [7, 8, 9]
})

# 열 이름 변경
df = df.rename(columns={'A': 'X', 'B': 'Y', 'C': 'Z'})
print(df)

# A는 X로, B는 Y로, C는 Z로 변경
# 딕셔너리에 {변경하기 전 : 변경하려는 명} 이런 식으로 작성

   X  Y  Z
0  1  4  7
1  2  5  8
2  3  6  9

In [ ]:
# 모든 열 이름 변경

# []을 사용하여 컬럼명을 일괄로 변경(해당 인덱스에 해당하는 위치의 값을 변경)
# 일괄 변경시 컬럼의 순서에 맞게 []안에 변경할 컬럼을 작성
df = pd.DataFrame({
    'A': [1, 2, 3],
    'B': [4, 5, 6],
    'C': [7, 8, 9]
})

# 원본
print(df)
print()

# 일괄 수정
df.columns = ['X', 'Y', 'Z']
print(df)

   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9

   X  Y  Z
0  1  4  7
1  2  5  8
2  3  6  9

# 열의 생성과 삭제

In [ ]:
import pandas as pd

df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35]
})

In [ ]:
# 사실 이건 많이 사용하지 않음 -> 이렇게 새열을 추가하는 방법을 자주 사용하지 않음
# concat, join -> 데이터 결합 : 이 방법을 선호

# 'Salary'라는 새 열 추가
df['Salary'] = [50000, 60000, 70000]
print(df)

In [ ]:
# drop(중요)
# Data 컬럼 천개 존재 시 ->
# 1. ram 효율을 증대하기 위해서 import할때만 전체를 호출하고 작업에 필요한 변수만 호출 필요
# 2. 머신러닝 / 딥러닝 -> 분석에 필요한 변수만 가져올 때

# 'Age' 열 삭제
df = df.drop('Age', axis=1) # axis = 1은 열/컬럼을 뜻함 (주의) : 열을 기준으로 삭제하겠다.
print(df)

In [ ]:
# 'Age' 열 삭제 -> 다중 삭제 가능
df = df.drop(['Age', 'Name'], axis=1) # 열을 기준으로 해당 열을 삭제
print(df)

Empty DataFrame
Columns: []
Index: [0, 1, 2]

# 데이터프레임 연결

In [ ]:
import pandas as pd

# Sample DataFrames
df1 = pd.DataFrame({'A': [1, 2], 'B': [3, 4]})
df2 = pd.DataFrame({'A': [5, 6], 'B': [7, 8]})

In [ ]:
# 가로로 연결 (열 방향)
# 주의할점 - df1과 df2가 동일한 행을 가지고 있을때만 가능함(동일한 행과 동일한 열의 개수여야한다.)

result = pd.concat([df1, df2], axis=1) # axis=1을 설정하여 열 방향으로 연결합니다.

print(result)

   A  B  A  B
0  1  3  5  7
1  2  4  6  8

In [ ]:
# 열 이름이 다를 때 가로 연결

import pandas as pd

# Sample DataFrames with different column names
df1 = pd.DataFrame({'A': [1, 2], 'B': [3, 4]})
df2 = pd.DataFrame({'X': [5, 6], 'Y': [7, 8]})

# 가로로 연결 (열 방향) - 열 이름 다름
# 만약 데이터프레임의 열 이름이 다른 경우, ignore_index=True 옵션을 사용하여 열 이름을 재설정할 수 있습니다.
result = pd.concat([df1, df2], axis=1, ignore_index=True)

print(result)

   0  1  2  3
0  1  3  5  7
1  2  4  6  8

In [ ]:
import pandas as pd

# Sample DataFrames
df1 = pd.DataFrame({'A': [1, 2], 'B': [3, 4]})
df2 = pd.DataFrame({'A': [5, 6], 'B': [7, 8]})

In [ ]:
# 세로로 연결 (행 방향)
result = pd.concat([df1, df2]) # 기본적으로 axis=0이 설정되어있고 행을 기준으로 연결
# axis=0이 기본값이고 빠져있는 상태

print(result)

   A  B
0  1  3
1  2  4
0  5  7
1  6  8

In [ ]:
# 인덱스가 중복되지 않도록 설정하려면 ignore_index=True 옵션을 사용합니다.
# 이때 사용하는것이 아주 유용 -> 행의 개수를 확인할 수도 있음

# 어떨때 사용할까요?
# 2023년 1월 ~ 2024년 1월 -> 분석을 열심히 했다.
# 신규로 2024년 2월을 등록할 때

import pandas as pd

# Sample DataFrames with different index
df1 = pd.DataFrame({'A': [1, 2], 'B': [3, 4]}, index=[0, 1]) # index 설정으로 어느 행에 할당할지?
df2 = pd.DataFrame({'A': [5, 6], 'B': [7, 8]}, index=[2, 3]) # 2행과 3행에 해당 값을 생성?

# 세로로 연결 (행 방향) - 인덱스 다름
result = pd.concat([df1, df2], ignore_index=True)

print(result)

   A  B
2  5  7
3  6  8
   A  B
0  1  3
1  2  4
2  5  7
3  6  8