<a href="https://colab.research.google.com/github/Um-king/orm/blob/main/%5B%EB%AA%A8%EB%91%90%EC%97%B0%5D_2%EC%A3%BC%EC%B0%A8_3%EC%9D%BC_%EC%97%B0%EC%82%B0%EC%9E%90.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
for i in range(101): # 0부터 100까지를 반복합니다.
    if i % 3 == 0 and i % 5 == 0:
        print(i)

0
15
30
45
60
75
90

* 여러분들께서 휴먼 고객에 대해서 데이터를 받아서 가마고객

휴먼 고객 100,000명(DB) - >
1차. 20~40세 먼저 거르면 -> 4만명(-6만명)
2차. 10만원 이하를 사용한 고객 거르면 -> 2만명(-2만명)
3차. 3번 이하로 구매한 고객 거르면 -> 1만명(-1만명)
----> 1만명에 대해서만 확인하면 된다.

In [3]:
def test1():
    print("test1 함수 호출!")
    return False

def test2():
    print("test2 함수 호출!")
    return True

# 가장 많이 걸러지는 조건을 맨 앞에 두어야 리소스를 줄일 수 있다.
result = test1() and test2()
print(result) # 결과: False

test1 함수 호출!
False

In [4]:
# 퀴즈 1

True and False # and는 두가지 조건 모두 True여야만 True를 출력한다.

False

In [5]:
# 퀴즈 2

False or True # or는 두가지 조건 중 하나만 True라면 True를 출력한다

True

In [6]:
# 퀴즈 4

0 and 1

0

# 2. 할당연산자

In [10]:
x = 5
y = 2
z = 10


x1 = y * z
x2 = x + (y * z)
x += y * z  # y * z 연산 후 x에 값을 할당합니다.

print(x)  # 결과: 25
print(x1)  # 결과: 20
print(x2)  # 결과: 25

25
20
25

In [11]:
 a = 3
 a *= 2 + 4
 print(a)

18

# 3. 식별 연산자

In [19]:
# 1. 동일 인물 확인

coffee_employee = "Brand"
orange_employee = "Brand"

print(coffee_employee is orange_employee) # 주소가 같은지
print(coffee_employee == orange_employee) # 실제 값이 같은지

True
True

In [20]:
print(id(coffee_employee))
print(id(orange_employee))

139256229664816
139256229664816

In [14]:
# 2. -5~256까지는 같은 주소를 바라보고 있지만 그 범위 이하 이상일때는 주소가 달라진다.

coffee_employee = 0
orange_employee = 0

print(coffee_employee is orange_employee) # 주소가 같은지
print(coffee_employee == orange_employee) # 실제 값이 같은지

True
True

In [15]:
# 2. -5~256까지는 같은 주소를 바라보고 있지만 그 범위 이하 이상일때는 주소가 달라진다.

coffee_employee = -6
orange_employee = -6

print(coffee_employee is orange_employee) # 주소가 같은지
print(coffee_employee == orange_employee) # 실제 값이 같은지

False
True

In [21]:
# 2. 예시2

a = [1, 2, 3] # 리스트 형인 [1,2,3]
b = [1, 2, 3] # 리스트 형인 [1,2,3]
c = a         # 리스트 형인 [1,2,3] 다만 a에 있는 것을 재할당

In [22]:
print(a,b,c)

[1, 2, 3] [1, 2, 3] [1, 2, 3]

In [24]:
print('a == b', a == b) # 값은 같다
print('a == c', a == c) # 값은 같다
print('a is b', a is b) # a와 b는 다른 객체를 사용
print('a is c', a is c) # c는 a의 객체를 가리키고 있음

print(id(a), id(b), id(c))

a == b True
a == c True
a is b False
a is c True
139257120046976 139256646634432 139257120046976

# 4. 맴버 연산

In [25]:
# 맴버 연산 in : 포함하고 있는지, not in 포함하고 있지 않은지

a = [1, 2, 3, 4]
b = [1, 2, 3, 4]
c = 'hello world'

print(1 in a) # 출력: True
print(0 not in a) # 출력: True
print([2] in b) # 출력: False
print([1, 2] in b) # 출력: False
print('h' in c) # 출력: True
print('hello ' in c) # 출력: True

True
True
False
False
True
True

In [ ]:
# 자료형태를 잘 파악하여 In을 사용해야한다.
# 리스트형 안에 리스트를 포함할 수 있다.
a_1 = [1, [2], 3, 4] # 리스트안에 있는 값은 정수형 1,3,4 / 리스트형 [2]

# 5. 연산자 순서

In [26]:
-2 ** 2 # 출력: -4, -(2 ** 2) --> 값의 계산 후에 부호가 붙기 때문에 양수가 아닌 -4가 출력

-4

In [27]:
(-2) ** 2 # 출력: 4

4

In [28]:
# 복합 할당 연산자가 가장 나중!
a = 10
a *= 10 + 100 # 10 + 100 후 * 10
a # 출력: 1100

1100

In [29]:
 result = 10 / 2 * 4 - 3
 print(result)

17.0

# 실습 2

1. **사용자 입력 받기**:
    - **`input()`** 함수를 사용하여 제품의 원가와 할인율을 입력받습니다.
2. **문자열을 숫자로 변환**:
    - 입력받은 원가와 할인율을 각각 **`float()`** 함수를 사용하여 실수로 변환합니다.
3. **할인된 가격 계산**:
    - 할인된 가격을 계산하는 공식을 사용합니다. (할인된 가격 = 원가 - (원가 × 할인율 / 100))
4. **결과 출력**:
    - 계산된 할인된 가격을 **`print()`** 함수를 사용하여 출력합니다.

In [32]:
# 제품의 원가와 할인율 입력 받기
price = float(input("제품의 원가를 입력하세요."))
discount = float(input("할인율을 입력하세요."))

# 할인된 금액 계산
amount = price - (price * (discount / 100))

# 할인된 금액 출력
print("할인된 가격:",amount)

제품의 원가를 입력하세요.10000
할인율을 입력하세요.10
할인된 가격: 9000.0

# 실습 3
1. 사용자 입력 받기:
  - input() 함수를 사용하여 사용자의 이름과 나이를 입력받습니다.

2. 문자열을 숫자로 변환:
  - 입력받은 나이(문자열)를 int() 함수를 사용하여 정수로 변환합니다.

3. 산술 연산 수행:
  - 변환된 나이에 1을 더하여 다음 해의 나이를 계산합니다.

4. 문자열 길이 계산:
  - len() 함수를 사용하여 사용자 이름의 길이를 계산합니다.

5. 성인 여부 판단:
  - 나이를 기준으로 성인 여부를 판단하여 불리언 값으로 표시합니다. (예: 18세 이상이면 True, 그렇지 않으면 False)

6. 결과 출력:
  - 계산된 나이, 이름의 길이, 성인 여부를 print() 함수를 사용하여 출력합니다.

In [35]:
name = input("이름을 입력해주세요.")
age = int(input("나이를 입력해주세요."))

next_age = age + 1
name_len = len(name)

print("계산된 나이:", next_age)
print("이름의 길이:", name_len)

if(next_age >= 18):
  print("성인입니다.")
else:
  print("성인이 아닙니다.")

이름을 입력해주세요.엄영철
나이를 입력해주세요.29
계산된 나이: 30
이름의 길이: 3
성인입니다.