<a href="https://colab.research.google.com/github/Um-king/orm/blob/main/lms_%EC%98%81%EC%83%81_%EA%B5%90%EC%9C%A1_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 리스트, 튜플, 딕셔너리, 셋

## 리스트

In [3]:
l = [100, 200, 300, 400]

print(l)

# 리스트
# 변경이 가능한 자료형
# 순서가 있는 자료형

print(l[1])
l[1] = 1000 # 변경이 가능
print(l)

[100, 200, 300, 400]
200
[100, 1000, 300, 400]

In [14]:
l = [100, 200, 300, 400]
l.append(300) # 맨 뒤에 값을 추가
print(l)

print(l.count(300)) # 300의 개수 확인
l.extend([100, 200, 300]) # 리스트로 여러개의 값을 추가
print(l)

l.insert(3, 1000) # 3번째 인덱스에 1000을 추가하겠다
print(l)

print(l.index(400)) # 400값이 처음으로 나오는 인덱스

l.pop() # 마지막 값 제거 , pop(3) 특정위치의 값도 제거 가능
print(l)

# l.remove(100) # 처음으로 발견되는 위치의 값 제거
print(l[::-1])

[100, 200, 300, 400, 300]
2
[100, 200, 300, 400, 300, 100, 200, 300]
[100, 200, 300, 1000, 400, 300, 100, 200, 300]
4
[100, 200, 300, 1000, 400, 300, 100, 200]
[200, 100, 300, 400, 1000, 300, 200, 100]

## 튜플

In [15]:
t = (100, 200, 300)
print(t)

# 순서가 있고
# 변경이 불가능한 자료형 -> 참조하고 있는 내용의 변경이 불가능하지 참조하고 있는 원소가 리스트면 리스트의 값은 변경 가능
# t[0] = 1000 -> Error!

l = [1,2,3,4]
tt = (l, 10, 20)
l[0] = 1000
print(tt)

(100, 200, 300)
([1000, 2, 3, 4], 10, 20)

## 셋

In [18]:
s = {100, 200, 300, 300, 300}
print(s)

# 순서가 없고 -> 순서가 없기에 뒤섞여있다
# 값의 중복을 허락하지 않는다.

print(set('aaaabbbbbcccccddddefggg')) # 중복 허락x

{200, 100, 300}
{'d', 'g', 'a', 'c', 'f', 'b', 'e'}

## 딕셔너리

In [23]:
# d = {key:value}
d = {'one':10, 'two':20}

# 순서가 없고
# 키의 중복을 허락하지 않는다.

print(d['one'])

print(d.values())
print(d.keys())
print(d.items()) # key와 value를 순서가 있게 리스트안에 튜플로 출력

l = list(d.items())
print(l[0])
print(l[0][1])

10
dict_values([10, 20])
dict_keys(['one', 'two'])
dict_items([('one', 10), ('two', 20)])
('one', 10)
10

In [24]:
jeju = {'banana' : 5000, 'orange' : 2000}
seoul = jeju.copy() # 얕은복사, seoul = jeju로 하면 같은 메모리를 바라보고, 값 수정이 두 객체 모두 반영됨

jeju['orange'] = 100000
print(seoul)
print(jeju)

{'banana': 5000, 'orange': 2000}
{'banana': 5000, 'orange': 100000}