<a href="https://colab.research.google.com/github/Um-king/orm/blob/main/%EB%AC%B8%EC%A0%9C_031_040.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
# 1. 아래 코드의 실행 결과를 예상해보세요.

'''
>> a = "3"
>> b = "4"
>> print(a + b)
'''

'''
>> 결과
"34" : 문자열의 덧셈
'''

a = "3"
b = "4"
print(a + b)

34

In [2]:
# 2. 아래 코드의 실행 결과를 예상해보세요.

'''
>> print("Hi" * 3)
'''

'''
>> 결과
HiHiHi : 문자열의 곱셈
'''

print("Hi" * 3)

HiHiHi

In [6]:
# 3. 화면에 '-'를 80개 출력하세요.

print('-' * 80)

--------------------------------------------------------------------------------

In [9]:
# 4. 변수에 다음과 같은 문자열이 바인딩되어 있습니다.
#    변수에 문자열 더하기와 문자열 곱하기를 사용해서 아래와 같이 출력해보세요.
#    실행 예: python java python java python java python java


t1 = 'python'
t2 = 'java'

print((t1 + ' ' + t2 + ' ') * 4)

python java python java python java python java

In [10]:
# 5. 변수에 다음과 같이 문자열과 정수가 바인딩되어 있을 때 % formatting을 사용해서 다음과 같이 출력해보세요.

'''
이름: 김민수 나이: 10
이름: 이철희 나이: 13
'''

name1 = "김민수"
age1 = 10
name2 = "이철희"
age2 = 13

print("이름: %s 나이: %d" % (name1, age1))
print("이름: %s 나이: %d" % (name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [11]:
# 6 문자열의 format( ) 메서드를 사용해서 5번 문제를 다시 풀어보세요.

name1 = "김민수"
age1 = 10
name2 = "이철희"
age2 = 13
print("이름: {} 나이: {}".format(name1, age1))
print("이름: {} 나이: {}".format(name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [12]:
# 7. 파이썬 3.6부터 지원하는 f-string을 사용해서 5번 문제를 다시 풀어보세요.

name1 = "김민수"
age1 = 10
name2 = "이철희"
age2 = 13
print(f"이름: {name1} 나이: {age1}")
print(f"이름: {name2} 나이: {age2}")

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [14]:
# 8. 삼성전자의 상장주식수가 다음과 같습니다. 컴마를 제거한 후 이를 정수 타입으로 변환해보세요.

상장주식수 = "5,969,782,550"

삼성전자 = int(상장주식수.replace(',', ''))

print(삼성전자)
print(type(삼성전자))

5969782550
<class 'int'>

In [15]:
# 9. 다음과 같은 문자열에서 '2020/03'만 출력하세요.

분기 = "2020/03(E) (IFRS연결)"
날짜 = 분기[:7]

print(날짜)

2020/03

In [16]:
# 10. 문자열의 좌우의 공백이 있을 때 이를 제거해보세요.

data = "   삼성전자    "

print(data.strip())

삼성전자