<a href="https://colab.research.google.com/github/Um-king/orm/blob/main/%EB%B3%B5%EC%8A%B5_%EB%AC%B8%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 24.01.09 조건문/반복문 문제 풀이

In [2]:
# 문제 1
# 숫자를 하나 입력받아, 그 숫자가 5보다 큰지 확인하는 프로그램을 작성해보세요.

number = int(input('숫자를 입력하세요: '))
result = '5보다 큰 숫자입니다' if number > 5 else '5와 같거나 작은 숫자입니다.'

print(result)

숫자를 입력하세요: 4
5와 같거나 작은 숫자입니다.

In [3]:
# 문제 2
# "안녕하세요!"를 5번 출력하는 프로그램을 작성해보세요.

str = "안녕하세요!"

for i in range(5):
    print(str)

안녕하세요!
안녕하세요!
안녕하세요!
안녕하세요!
안녕하세요!

In [7]:
# 문제3
# 1부터 10까지의 숫자 중에서, 짝수만 출력하는 프로그램을 작성해보세요.

for i in range(0, 11, 2):
    if i == 0: # i가 0이면 출력 제외
        continue
    print(i)

2
4
6
8
10

In [11]:
# 문제4
# 1부터 20까지의 숫자 중, 3의 배수만 출력하는 프로그램을 작성하세요.

list = [i for i in range(1, 21) if i % 3 == 0]

for i in list:
    print(i)

3
6
9
12
15
18

In [12]:
# 문제5
# 구구단 2단부터 9단까지 출력하는 프로그램을 작성하세요.

for i in range(2, 10):
    print(f"[{i}단]")
    for j in range(1, 10):
        print(f"{i} x {j} = {i * j}")

[2단]
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
[3단]
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
[4단]
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
[5단]
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
[6단]
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
[7단]
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
[8단]
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
[9단]
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81