<a href="https://colab.research.google.com/github/Um-king/orm/blob/main/%EC%B4%88%EB%B3%B4%EC%9E%90%EB%A5%BC_%EC%9C%84%ED%95%9C_%ED%8C%8C%EC%9D%B4%EC%8D%AC_300%EC%A0%9C_011~020.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 초보자를 위한 파이썬 300제
### 2. 파이썬 변수
* 문제 011~020

In [2]:
# 1. 삼성전자라는 변수로 50,000원을 바인딩해보세요. 삼성전자 주식 10주를 보유하고 있을 때 총 평가금액을 출력하세요.

# 변수 선언
삼성전자 = 50000
평가금액 = 삼성전자 * 10

print(평가금액)

500000

In [4]:
# 2. 다음 표는 삼성전자의 일부 투자정보입니다. 변수를 사용해서 시가총액, 현재가, PER 등을 바인딩해보세요.
'''
 항목	      값
시가총액	 298조
 현재가	  50,000원
  PER	     15.79
'''

# 변수 선언
시가총액 = 298000000000000
현재가 = 50000
PER = 15.79

print(시가총액)
print(현재가)
print(PER)

298000000000000
50000
15.79

In [10]:
# 3. 변수 s와 t에는 각각 문자열이 바인딩 되어있습니다. 두 변수를 이용하여 아래와 같이 출력해보세요.
'''
# 변수
s = "hello"
t = "python"

# 실행 예:
hello! python
'''

s = "hello"
t = "python"

print(s + "!", t)
print(s + "! " + t)

hello! python
hello! python

In [11]:
# 4. 아래 코드의 실행 결과를 예상해보세요.
# >> 2 + 2 * 3

print(8)

8

In [12]:
# 5. type() 함수는 데이터 타입을 판별합니다. 변수 a에는 128 숫자가 바인딩돼 있어 type 함수가 int (정수)형임을 알려줍니다.

'''
>> a = 128
>> print (type(a))
<class 'int'>
'''

# 아래 변수에 바인딩된 값의 타입을 판별해보세요.
'''
>> a = "132"
'''

a = "132"
print(type(a))

<class 'str'>

In [17]:
# 6. 문자열 '720'를 정수형으로 변환해보세요.
# >> num_str = "720"

num_str = "720"
num_int = int(num_str)
print("출력값:", num_int, "\n타입:", type(num_int))

출력값: 720
타입: <class 'int'>

In [18]:
# 7. 정수 100을 문자열 '100'으로 변환해보세요.

num = 100
num_str = str(100)

print("출력값:", num_str, "\n타입:", type(num_str))

출력값: 100
타입: <class 'str'>

In [19]:
# 8. 문자열 "15.79"를 실수(float) 타입으로 변환해보세요.

num_str = "15.79"
num_float = float(num_str)

print("출력값:", num_float, "\n타입:", type(num_float))

출력값: 15.79
타입: <class 'float'>

In [21]:
# 9. year라는 변수가 문자열 타입의 연도를 바인딩하고 있습니다. 이를 정수로 변환한 후 최근 3년의 연도를 화면에 출력해보세요.

year = "2020"
yearInt = int(year)

for i in range(3, 0, -1):
  print(yearInt - i) # 2017, 2018, 2019

2017
2018
2019

In [23]:
# 10. 에이컨이 월 48,584원에 무이자 36개월의 조건으로 홈쇼핑에서 판매되고 있습니다. 총 금액은 계산한 후 이를 화면에 출력해보세요. (변수사용하기)

money = 48584
month = 36
total = money * month

print(total)

1749024