<a href="https://colab.research.google.com/github/Um-king/orm/blob/main/%5B%EB%AA%A8%EB%91%90%EC%97%B0%5D3%EC%A3%BC%EC%B0%A8_1%EC%9D%BC_%ED%95%A8%EC%88%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. 함수와 인사하기

In [ ]:
#1. 함수 만들어 보기

def jinhwankim(): # def -> 이건 함수야 jinhwankim 함수의 이름 + () -> ":"

In [33]:
#2. 들여쓰기
def my_function():
    print('1') #4칸을 띄우는 것 -> 함수의 본문을 적는 것
    print('2')
    print('3')

# 함수의 실행
my_function() #실행을 할때는 def와 :은 필요없다. -> 함수의 본문이 실행 된다.

1
2
3

In [ ]:
#2. 들여쓰기
def my_function():
    print('1') #4칸을 띄우는 것 -> 함수의 본문을 적는 것
    print('2')


print('4') # 함수의 바깥에서 실행된다.
print('3')

# 함수의 실행
my_function() #실행을 할때는 def와 :은 필요없다. -> 함수의 본문이 실행 된다.

In [34]:
#2. 들여쓰기
def my_function():
    print('1') #4칸을 띄우는 것 -> 함수의 본문을 적는 것
    print('2')
    print('3')

# 함수의 실행
my_function() #실행을 할때는 def와 :은 필요없다. -> 함수의 본문이 실행 된다.

1
2
3

In [35]:

def function_name(x, y):
    z = x + y # z = 10 + 9
    return z # z만 가지고서는 출력이 되지 않는다.!

# 1. return을 함수 내에 지정하지 않았을때
# print(f'function_name(10, 9) = {function_name(10, 9)}')

# 2. print()문을 사용하지 않았을 때
function_name(10, 9)

19

In [36]:

#2.1 입력 매개변수가 없고 반환값도 없는 함수
def simple_function():
    print('hello world')

# 함수 호출
print(simple_function()) # 함수는 return 값을 찾겠구나!

hello world
None

In [37]:
# 2.2 파라미터가 없고, 반환값은 있는 함수
def give_me_five():
    return 5

result = 5 # 비슷한 느낌
result = give_me_five() # 할당!
print(result) # 출력: 5

5

In [38]:

#2.3 입력 매개변수가 있고, 반환 값이 없는 함수

def greeting(name):
    print(f'Hello, {name}!')

# 함수 호출
print(greeting('Licat'))

Hello, Licat!
None

In [39]:

# 2.4 입력 매개변수가 있고, 반환 값이 있는 함수

def add_numbers(x, y):
    sum = x + y
    return sum

# 함수 호출
result = add_numbers(5, 3)
print(result)  # 출력: 8

8

In [40]:

# 1.3 파라미터의 기본 사용
def f(a, b, c):
    print(a, b, c)

f(100,200,300)
f(a=100, b=200, c=300) # 출력: 100 200 300
f(c=300, a=100, b=200) # 출력: 100 200 300

100 200 300
100 200 300
100 200 300

In [41]:

# 1.3.2 기본값을 가지는 파라미터

def f(a=10, b=20, c=30):
    print(a, b, c)

f() # 출력: 10 20 30
f(100, 10) # 출력: 100 10 30
f(a=100, b=200, c=300) # 출력: 100 200 300
f(c=300, a=100, b=200) # 출력: 100 200 300

10 20 30
100 10 30
100 200 300
100 200 300

In [42]:

# 올바른 예
def f(a, b=20, c=10):
    print(a, b, c)

print(f(100, 10)) # 출력: 100 10 10
f(a=100, b=200, c=300) # 출력: 100 200 300
f(c=300, a=100, b=200) # 출력: 100 200 300

100 10 10
None
100 200 300
100 200 300

In [43]:

# 1.4.1 컨밴션 자료형을 아규먼트로 넣었을 때
def add_element(my_list):
    my_list.append(1)

a = [2, 3, 4]
add_element(a)
print(a)  # 출력: [2, 3, 4, 1]

[2, 3, 4, 1]

In [44]:

def add_element(my_list):
    my_list.append(1)
    print(id(my_list)) # 출력: 135115033605760

a = [2, 3, 4]
add_element(a)
print(id(a)) # 출력: 135115033605760
print(a)  # 출력: [2, 3, 4, 1]

134288664696576
134288664696576
[2, 3, 4, 1]

In [45]:

def add_element(my_list):
    my_list = 10
    print(id(my_list)) # 출력: 135115442078224

a = [2, 3, 4]
add_element(a)
print(id(a)) # 출력: 135115029248768
print(a)  # 출력: [2, 3, 4]

134289934565904
134289522292608
[2, 3, 4]

In [1]:
# 1.4.2 권장되지 않은 기본값

# 권장하지 않는 방법
def append_to_list(value, lst=[]):
    lst.append(value)
    return lst # 예상치 못한 결과가 발생할 수 있습니다.

In [2]:
append_to_list(1) # 출력 = lst[1]

[1]

In [4]:
append_to_list(2) # 출력: [2]?
# 출력 [1, 2] 그러나 결과가 [2]가 나올것으로 예상할수도 있습니다.

[1, 2]

In [5]:
# 권장 방법
# None 값을 새로운 리스트로 바꾸어 주어, 함수 호출 사이에 리스트가 공유되지 않도록 합니다.
def append_to_list(value, lst=None):
    if lst is None:
        lst = []
    lst.append(value)
    return lst

# 지역변수와 전역변수

In [ ]:
# 지역 변수 사용 예시

# 지역 변수는 함수 내부에서만 정의되고 사용되는 변수
# 함수 내부에서만 데이터를 관리
def f():
    a = 1 # 이 변수는 f() 내에서만 정의! 절대 바깥에서 사용할 수 없는 거죠.
    print(a)  # 출력: 1

f()
print(a)  # error: a는 f 함수 내부에서만 정의되었습니다.

In [7]:
# 전역 변수
test = 1
a = 100
b = [100,200]

# 지역 변수(함수 내 사용한 변수)
def example():
    test = 100
    return test

print(test)
print(example())

1
100

In [8]:
# 지역에 선언된 변수 목록을 보려면 locals()를 사용
def f():
    a = 1
    print(locals()) # 출력: {'a': 1} # 지역변수가 어떤게 있는지 확인하려면 locals()를 사용

f()

{'a': 1}

In [9]:
# 지역에 선언된 변수 목록을 보려면 locals()를 사용
def f():
    a = 1
    b = 100
    print(locals()) # 지역변수가 어떤게 있는지 확인하려면 locals()를 사용

f()

{'a': 1, 'b': 100}

In [10]:
def f():
    a = 1
    b = 'hello'
    def ff():
        pass
    print(locals()) # 출력: {'a': 1, 'b': 'hello', 'ff': <function f.<locals>.ff at 0x7a46e99d2c20>}

f()

{'a': 1, 'b': 'hello', 'ff': <function f.<locals>.ff at 0x7a22843ef910>}

In [11]:
# 전역변수 : 어떤 함수에서도 접근 가능한 변수 -> global로 선언(권장x)

a = 100

def f():
    global a
    a = a + 1

f()
print(a)  # 출력: 101, 함수 f 내에서 전역 변수 a가 수정되었습니다.

101

In [ ]:
# 에러

# global 키워드 없이 수정하는 것은 허락하지 않기 때문
a = 100
def f():
    a = a + 1 # error

f()
print(a)

In [12]:
# 전역에 있는 a와 로컬에 있는 a변수가 구분되기 때문

a = 100

def f():
    a = 1000 # 새로운 지역변수 a 선언한 것
    print(a) # 출력: 1000

f()

1000

In [14]:
# 불러와서 읽기만 하는 경우에는 사용이 가능 -> 읽기만 할 경우 gobal 변수 사용하지 않아도 된다.
a = 100

def f():
    print(a) # 출력: 100

f()

def ff():
    b = a + 1
    print(b) # 출력: 101

ff()

100
101

In [ ]:
# pass 문은 Python에서 아무 것도 하지 않는 구문
# pass가 있는 위치에서 어떠한 연산도 수행되지 않습니다

# TODO 어떠한 일을 해야 합니다.
def my_function():
    pass

# Built in function
* 내장 함수(=built in function)는 파이썬 언어에 기본적으로 포함되어 있는 함수들

## 2.1. all, any
* all() 함수는 iterable(반복 가능한) 객체(예: 리스트, 튜플, 문자열 등)를 인수로 받아, 그 안에 있는 모든 요소가 True로 평가되면 True를 반환하고, 그렇지 않으면 False를 반환합니다.
*any() 함수도 iterable 객체를 인수로 받아, 그 안에 있는 어떤 요소라도 True로 평가되면 True를 반환하고, 그렇지 않으면 False를 반환합니다.

In [15]:
# 1. all, any

# 모두 다 True여야 True 반환
all([True, True, True]) # 출력: Ture
all([True, True, False]) # 출력: False
all([1, 1, 1, 1]) # 출력: True
all([1, 1, 1, 0]) # 출력: False , 0 = false
all([1, 0, 1, 1]) # 출력: False
all([1, 100, 10, -1]) # 출력: True

True

In [16]:
# 하나라도 True이면 True이다.
any([True, False, False]) # 출력: True
any([False, False, False]) # 출력: False

False

# 2.2 chr, ord
* chr() 함수는 정수를 인수로 받아 그에 해당하는 유니코드 문자를 반환합니다.
* ord() 함수는 문자를 인수로 받아 그 문자의 유니코드(또는 ASCII 코드) 값을 반환합니다.

## 2.3 Map
* map() 함수는 기존의 리스트(또는 튜플)의 모든 요소에 특정 함수를 적용한 결과를 map 객체 형태로 반환하는 함수입니다. map 객체는 다시 list()를 이용해 리스트 형태로 변환할 수 있습니다.

In [17]:
# 첫번째 방법
def 제곱(x):
    return x ** 2
list(map(제곱, [1, 2, 3, 4])) # 출력: [1, 4, 9, 16]

# map을 통해 각각의 요소를 풀어서 제곱한 결과를 출력

[1, 4, 9, 16]

In [18]:
# 두번째 방법
list(map(lambda x : x ** 2, [1, 2, 3, 4])) # 출력: [1, 4, 9, 16]

[1, 4, 9, 16]

## 2.4 filter
* filter() 함수는 순회할 수 있는 객체의 요소 중 특정 조건을 만족하는 요소만을 선택하여 반환

## 2.5 zip
* zip() 함수는 여러 개의 순회 할 수 있는 객체의 요소를 묶어서 반환합니다. 다만 메모리의 효율을 위해 형변환이나 직접 순회를 하기 전까지는 메모리 주소로만 반환합니다.

In [19]:
# 기본 형태  : zip(순회할 수 있는 객체1, 순회할 수 있는 객체2...)

# ab와 12에서 첫번째 a, 1이 묶이고 두번째 b와 2가 묶인다.
list(zip('ab', '12')) # 출력: [('a', '1'), ('b', '2')]

[('a', '1'), ('b', '2')]

In [20]:
# 인덱스 순서대로 묶인다.
list(zip('ab', '12', [10, 20])) # 출력: [('a', '1', 10), ('b', '2', 20)]

[('a', '1', 10), ('b', '2', 20)]

In [21]:
# 같은 위치에 있는 값만 묶인다.

list(zip('abc', '1234567', [10, 20, 30]))
# 출력 : [('a', '1', 10), ('b', '2', 20), ('c', '3', 30)]

[('a', '1', 10), ('b', '2', 20), ('c', '3', 30)]

In [22]:
list(zip('abcd', '1234567', [10, 20, 30, 40])) # 최소 인덱스 수만큼 묶인다.

[('a', '1', 10), ('b', '2', 20), ('c', '3', 30), ('d', '4', 40)]

In [23]:
x = [1, 2, 3]
y = [1, 4, 9]
list(zip(x, y)) # 출력: [(1, 1), (2, 4), (3, 9)]

[(1, 1), (2, 4), (3, 9)]

## enumerate
* enumerate 함수는 반복할 수 있는 객체의 인덱스와 값을 함께 반환하며 주로 반복문에서 사용합니다. 해당 예제에서는 리스트를 enumerate 함수에 전달하여 인덱스와 값을 함께 얻습니다. 추가로, enumerate 함수의 두 번째 인자를 통해 시작 인덱스를 지정할 수 있습니다. 이를 활용하여 반복문 내에서 인덱스와 값에 동시에 접근하는 것이 가능합니다.

In [24]:
values = ['A', 'B', 'C', 'D']
print(list(enumerate(values))) # 인수가 없다면 0번째 인덱스 값부터 순서대로 출력
print(list(enumerate(values, 1))) # 1부터 순서대로 출력
print(list(enumerate(values, 100))) # 100부터 순서대로 출력

[(0, 'A'), (1, 'B'), (2, 'C'), (3, 'D')]
[(1, 'A'), (2, 'B'), (3, 'C'), (4, 'D')]
[(100, 'A'), (101, 'B'), (102, 'C'), (103, 'D')]

In [28]:
values = ['A', 'B', 'C', 'D']
print(list(enumerate(values)))

values1 = ['김진환', '이호준', '라이켓', '웅이']
print(list(enumerate(values1)))

# 이런식으로 서로 다른 리스트를 인덱스값을 만들어 연결할 수 있다.

[(0, 'A'), (1, 'B'), (2, 'C'), (3, 'D')]
[(0, '김진환'), (1, '이호준'), (2, '라이켓'), (3, '웅이')]

In [29]:
# sorted와 reversed는 원본을 수정하지 않습니다.

sorted([1, 2, 100, 200, 3, 4, 10, 20]) # 오름차순
# 출력 : [1, 2, 3, 4, 10, 20, 100, 200]

[1, 2, 3, 4, 10, 20, 100, 200]

In [30]:
sorted([1, 2, 100, 200, 3, 4, 10, 20], reverse=True) # 내림차순
# 출력 : [200, 100, 20, 10, 4, 3, 2, 1]

[200, 100, 20, 10, 4, 3, 2, 1]

In [31]:
# key=len를 사용하여 각 값을 문자열 길이대로 정렬
sorted(['hello', 'l', 'hllo', 'hel', 'heo', 'a'], key=len)
# 출력 : ['l', 'a', 'hel', 'heo', 'hllo', 'hello']

['l', 'a', 'hel', 'heo', 'hllo', 'hello']