<a href="https://colab.research.google.com/github/Um-king/orm/blob/main/%ED%95%A8%EC%88%98_%EC%97%B0%EC%8A%B5%EB%AC%B8%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# 1. 다음 코드를 실행하면 출력되는 값을 순서대로 작성해보세요.

a = 'pithon'

def 함수1():
    def 함수2():
        print('love')

    print('I')
    함수2()
    return "python"


a = 함수1()
print(a)

'''
>> 결과
I -> love -> python
'''

I
love
python

'\n>> 결과\nI -> love -> python \n'

In [3]:
# 2. 함수를 이용하여 계산기 프로그램을 만들어주세요.

def plus(num1, num2):
	#이곳을 채워주세요
    return num1 + num2

def minus(num1, num2):
	#이곳을 채워주세요
    return num1 - num2

def multiply(num1, num2):
	#이곳을 채워주세요
    return num1 * num2

def divide(num1, num2):
	#이곳을 채워주세요
    return num1 / num2

print(f'plus : {plus(10, 5)}')
print(f'minus : {minus(10, 5)}')
print(f'multiply : {multiply(10, 5)}')
print(f'divide : {divide(10, 5)}')

plus : 15
minus : 5
multiply : 50
divide : 2.0

In [4]:
# 3. 2번의 해답을 이용하여 a와 b를 더한 값과 a와 b를 뺀 값을 곱하는 함수를 만들어주세요. 아래와 같은 값이 있다면 (2 + 3) * (2 - 3) = -5가 출력이 되어야 합니다.

def result(num1, num2):
    a = plus(num1, num2)
    b = minus(num1, num2)
    return multiply(a, b)

num1 = int(input('숫자1 입력:'))
num2 = int(input('숫자2 입력:'))

result = result(num1, num2)
print(f'({num1} + {num2}) * ({num1} - {num2}) = {result}')

숫자1 입력:2
숫자2 입력:3
(2 + 3) * (2 - 3) = -5

In [6]:
# 4. x의 n제곱을 구하는 함수를 만들어주세요. 재귀함수를 이용하여 만들어야하며, x은 0이 아닙니다. (x, n > 1)

def f(x, n):
    if n == 0 :
        return 1
    else:
        return x * f(x, n-1)


num1 = int(input('숫자1 입력:'))
num2 = int(input('숫자2 입력:'))

if num1 == 0 or num2 == 0:
    print("종료")
else:
    print(f(num1, num2))

숫자1 입력:5
숫자2 입력:2
25

In [14]:
# 5. 이 데이터에서 licat을 출력해주세요. 단, 직접 접근은 안됩니다. data[1]로 접근하는 것은 안됩니다.

data = [['weniv CTO binky', 2], ['weniv CEO licat', 1], ['weniv COO mura', 2]]

s = str(data)
s[s.find('licat'):s.find('licat') + 5]

'licat'

In [18]:
#  6. 다음 함수 is_palindrome를 완성하시오.
# 이 함수는 하나의 문자열을 인자로 받아, 해당 문자열이 앞으로 읽으나 뒤로 읽으나 같은 단어이면 True를, 아니면 False를 반환해야 합니다.

def is_palindrome(s):
    str_1 = list(s)
    str_2 = list(reversed(str_1))

    if str_1 == str_2:
        return True
    else:
        return False

s = input("문자열 입력:")
print(is_palindrome(s))

문자열 입력:level
['l', 'e', 'v', 'e', 'l']
['l', 'e', 'v', 'e', 'l']
True

In [20]:
# 7. 리스트 numbers가 주어졌을 때, 이 리스트 내의 모든 짝수를 제거하는 코드를 작성하시오.

numbers = [2, 3, 4, 5, 6, 7, 8, 9, 10]
numbers = list(filter(lambda x:x % 2 == 1, numbers))
print(numbers)  # 결과: [3, 5, 7, 9]

[3, 5, 7, 9]