<a href="https://colab.research.google.com/github/Um-king/orm/blob/main/lms_%EC%98%81%EC%83%81_%EA%B5%90%EC%9C%A1_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 반복문(while, for), 조건문(if, elif, else)

## 반복문

In [1]:
# while 문

a = 10
while a < 15:
    print('hello world')
    a += 1

hello world
hello world
hello world
hello world
hello world

In [2]:
a = 1
while True: # 무한반복
    print('hello world', a)
    if a > 9:
        break; # 강제 종료
    a += 1
else: # 정상적인 종료일 경우 출력(break로 강제 종료되었을 시 수행x)
    print('good job') # break로 종료된 반복문이 아니라면 수행

hello world 1
hello world 2
hello world 3
hello world 4
hello world 5
hello world 6
hello world 7
hello world 8
hello world 9
hello world 10

In [3]:
l = [10, 20, 30, 40]

for i in l: # 순회가 가능한 객체 사용
    print(i)

10
20
30
40

In [4]:
s = {10, 20, 30, 40, 10, 10, 10} # 순서가 없고 중복이 가능하지 않은 객체

for i in s:
    print(i)

40
10
20
30

In [5]:
for i in range(10): # 0~9
    print(i)

0
1
2
3
4
5
6
7
8
9

In [7]:
print(1, list(range(10)))
print(2, list(range(5, 10)))
print(3, list(range(2,10, 2)))
print(4, list(range(10, 5, -1)))
print(5, list(range(-10)))

1 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
2 [5, 6, 7, 8, 9]
3 [2, 4, 6, 8]
4 [10, 9, 8, 7, 6]
5 []

In [8]:
for i in 'hello world':
    print(i)

h
e
l
l
o

w
o
r
l
d

In [9]:
for i in range(10):
    print(i)
else:
    print('good job') # 반복문이 정상적으로 종료되면 출력(break 사용 없을 경우)

0
1
2
3
4
5
6
7
8
9
good job

In [12]:
# 진행형 리슽트
ll = [i for i in range(10)] # 반복문으로 리스트 생성
print(ll)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [14]:
lll = ['{} X {} = {}'.format(i, j, i*j) for i in range(2, 10) for j in range(1, 10)]
print(lll)

['2 X 1 = 2', '2 X 2 = 4', '2 X 3 = 6', '2 X 4 = 8', '2 X 5 = 10', '2 X 6 = 12', '2 X 7 = 14', '2 X 8 = 16', '2 X 9 = 18', '3 X 1 = 3', '3 X 2 = 6', '3 X 3 = 9', '3 X 4 = 12', '3 X 5 = 15', '3 X 6 = 18', '3 X 7 = 21', '3 X 8 = 24', '3 X 9 = 27', '4 X 1 = 4', '4 X 2 = 8', '4 X 3 = 12', '4 X 4 = 16', '4 X 5 = 20', '4 X 6 = 24', '4 X 7 = 28', '4 X 8 = 32', '4 X 9 = 36', '5 X 1 = 5', '5 X 2 = 10', '5 X 3 = 15', '5 X 4 = 20', '5 X 5 = 25', '5 X 6 = 30', '5 X 7 = 35', '5 X 8 = 40', '5 X 9 = 45', '6 X 1 = 6', '6 X 2 = 12', '6 X 3 = 18', '6 X 4 = 24', '6 X 5 = 30', '6 X 6 = 36', '6 X 7 = 42', '6 X 8 = 48', '6 X 9 = 54', '7 X 1 = 7', '7 X 2 = 14', '7 X 3 = 21', '7 X 4 = 28', '7 X 5 = 35', '7 X 6 = 42', '7 X 7 = 49', '7 X 8 = 56', '7 X 9 = 63', '8 X 1 = 8', '8 X 2 = 16', '8 X 3 = 24', '8 X 4 = 32', '8 X 5 = 40', '8 X 6 = 48', '8 X 7 = 56', '8 X 8 = 64', '8 X 9 = 72', '9 X 1 = 9', '9 X 2 = 18', '9 X 3 = 27', '9 X 4 = 36', '9 X 5 = 45', '9 X 6 = 54', '9 X 7 = 63', '9 X 8 = 72', '9 X 9 = 81']

In [16]:
# 다중인자 리스트
l = [(1, 10), (2, 20), (3, 30), (4, 40)]

for i, j in l: # 튜플로 묶여있는 내용을 언패킹
    print(i, j)

1 10
2 20
3 30
4 40

In [18]:
for i, j in enumerate(range(100, 1000, 100), 1):
    print(i, j)

# enumerate: 두개의 인자값을 반환함
# 초기값은 0부터 출력하지만 우리는 1을 선언함
# 1부터 순서대로 출력하고, 값을 출력
# 어떤 값의 번호를 주고 싶을때 사용 -> 즉 처음 호출되는 값은 enumerate의 값, 두번째 값은 우리가 작성한 값

1 100
2 200
3 300
4 400
5 500
6 600
7 700
8 800
9 900

In [19]:
for i in range(10):
    if i > 5:
        continue
    print('hello world')

hello world
hello world
hello world
hello world
hello world
hello world

## 조건문

In [20]:
if True:
    print('hello world')

hello world

In [21]:
a = 10

if a == 10:
    print('hello world')
elif a < 20:
    print('good job')
else:
    pass

hello world