<a href="https://colab.research.google.com/github/Um-king/orm/blob/main/%EB%B3%B5%EC%8A%B5_%EC%97%B0%EC%8A%B5%EB%AC%B8%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 24.01.05 복습 연습 문제

In [2]:
# 1. 다음 값은 어떤 값이 출력되는지 이유를 설명하세요.
'''
1.1 'hello' and 1

>> 결과
1 출력, and 연산자는 두 조건 중 마지막으로 평가된 값을 반환.
'''
print('hello' and 1)

'''
1.2 10 or 'hello world'

>> 결과
10 출력, 첫번째 10의 값이 참으로 판단되어 10으로 반환(10은 참으로 간주되어 두번째 내용을 판단하지 않고 10을 반환)
'''
print(10 or 'hello world')

1
10

In [15]:
# 2. 아래 dict에 'three' key를 이용하여 '3'라는 값을 출력해주세요. 없을 경우 애러가 나는 것이 아니라 '3'이라는 값을 출력해야 합니다.
d = {'one': 1, 'two': 2}

d.get('three', 3)

3

In [10]:
# 3.다음 리스트에서 100은 어떻게 꺼낼 수 있나요?
l = [1, [10, 20], [3, [100, 200], 5]]

l[2][1][0]

100

In [11]:
# 4. 아래 숫자를 모두 더해주세요.
l = [[1, 2], [3, 4]]

sum(sum(l, []))

10

In [13]:
# 5. (난이도 있는 문제) filter를 사용하여 아래 리스트에서 짝수를 모두 더하는 코드를 작성해주세요.

l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]


def f(x):
    return x % 2 == 0;

sum(filter(f, l))

30