<a href="https://colab.research.google.com/github/Um-king/orm/blob/main/240119_%EC%97%B0%EC%8A%B5%EB%AC%B8%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 문제 1. 게임 밸런스 조절

1. 라이캣은 연말 출시할 게임의 게임 난이도를 조절하는 업무를 담당하게 되었습니다.
2. 우선 능력치가 비정상적으로 높은 캐릭터들의 리스트를 뽑고자 합니다.
3. 캐릭터 이름, 공격력, 방어력, 체력, 마력이 리스트로 ['Licat', 98, 30, 21, 60]와 같이 주어졌을 때
4. 모든 능력치의 합이 350 이상이 되는 캐릭터의 이름을 출력하는 solution함수를 완성해주세요.

링크 : https://100.pyalgo.co.kr/?page=10

In [31]:
def solution(data):
    lst = list(filter(lambda x: (x[1]+x[2]+x[3]+x[4]) >= 350, data))
    return sorted([i[0] for i in lst])

solution([['Gray', 98, 92, 85, 97], ['Gom', 98, 30, 21, 60], ['Allosa', 98, 90, 99, 98]])

['Allosa', 'Gray']

# 2. 우편 번호 정렬
1. 각 주소가 담긴 배열과 우편번호 목록이 딕셔너리 형태로 주어질 때 에서
2. 우편번호 오름차순 순서대로 주소를 정렬하는 코드를 작성해주세요.

In [97]:
def solution(data):
    l, d = data
    return sorted(l, key = lambda x: d[x.split()[1]])

input_data = [
    ['제주시 A동 한라산길 61', '제주시 B동 백록담길 63', '제주시 C동 사라봉길 31'],
    {'A동': 63007, 'B동': 63010, 'C동': 63002}
]
solution(input_data)

['제주시 C동 사라봉길 31', '제주시 A동 한라산길 61', '제주시 B동 백록담길 63']

# 3. 도서관 책 연도별 정렬

1. 라이캣은 도서관 사서로 일하게 되었습니다.
2. 도서관에 있는 책들의 제목과 해당 책들의 발행 연도가 딕셔너리 형태로 주어집니다.
3. 라이캣을 도와 주어진 책들을 발행 연도가 오래된 순서대로 정렬하는 코드를 작성해주세요.
4. 발행 연도가 같은 경우에는 제목의 사전순으로 정렬하세요.

In [98]:
def solution(data):
    l, d = data
    sorted_dit = sorted(data[1].items(), key = lambda x: x[1])
    return [i[0] for i in sorted_dit]

input_data = [
    ['Moby Dick', 'To Kill a Mockingbird', '1984'],
    {'Moby Dick': 1851, 'To Kill a Mockingbird': 1960, '1984': 1949}
]

solution(input_data)

['Moby Dick', '1984', 'To Kill a Mockingbird']