<a href="https://colab.research.google.com/github/Um-king/orm/blob/main/%5B%EB%AA%A8%EB%91%90%EC%97%B0%5D_2%EC%A3%BC%EC%B0%A8_2%EC%9D%BC_%ED%98%95%EB%B3%80%ED%99%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 4. 형변환

In [2]:
# 1. 형변환 기본 예제

# 잘못된 수행
월급 = input("월급을 입력하세요:")
연봉 = 월급 * 12 # 문자열로 받기 때문에 1000이 12번 출력
print(연봉)

월급을 입력하세요:1000
100010001000100010001000100010001000100010001000

In [5]:
# 제대로 수행
월급 = input("월급을 입력하세요:")
연봉 = int(월급) * 12
print(연봉)

월급을 입력하세요:1000
12000

In [4]:
# 제대로 수행
월급 = int(input("월급을 입력하세요:"))
연봉 = 월급 * 12
print(연봉)

월급을 입력하세요:1000
12000

In [6]:
# 4.2 소수형 -> 정수형

f = 3.14159
number = int(f)
print(number)  # 출력: 3

3

In [7]:
# 4.3 불린 -> 정수형

true_int = int(True)
false_int = int(False)

print(true_int)  # 출력: 1
print(false_int)  # 출력: 0

1
0

In [8]:
# 4.4 Noen은 형변환 불가능

print(int(None))

TypeError: ignored

In [11]:
# 4.5 str 형변환

n = 123
print(type(n))
print(n)

m = 123.4
print(type(n))
print(n)

n = str(n)
print(type(n))
print(n)

m = str(m)
print(type(m))
print(m)

<class 'int'>
123
<class 'int'>
123
<class 'str'>
123
<class 'str'>
123.4

In [12]:
print("bool('test'):", bool('test')) # 값이 있으면 True
print("bool(' '):", bool(' ')) # 공백이 하나라도 존재하면 값이 존재한 것으로 True
print("bool(''):", bool('')) # 공백이 없으므로
print("bool(100):", bool(100)) # 값 존재
print("bool(1):", bool(1)) # 1 = True
print("bool(0):", bool(0)) # 0 = False
print("bool(-1):", bool(-1))
print("bool(None):", bool(None)) # None은 값이 없는 것이므로 False
print("bool([]):", bool([])) # 빈 리스트 = False (이하 동일)
print("bool(tuple()):", bool(tuple()))
print("bool({}):", bool({}))
print("bool(set()):", bool(set()))

bool('test'): True
bool(' '): True
bool(''): False
bool(100): True
bool(1): True
bool(0): False
bool(-1): True
bool(None): False
bool([]): False
bool(tuple()): False
bool({}): False
bool(set()): False

In [14]:
# 무한대, 숫자가 아닌것들은 float형으로 특수하게 형변환이 가능하다

infinity = float('inf')
neg_infinity = float('-inf')
not_a_number = float('nan') # None, Na

print(infinity)
print(neg_infinity)
print(not_a_number)

inf
-inf
nan

In [15]:
# map을 사용한 정수 형변환

list(map(int, ['10', '20', '30'])) # 출력 : [10, 20, 30]

[10, 20, 30]

In [16]:
list(map(int, '12345')) # 출력 : [1,2,3,4,5]

[1, 2, 3, 4, 5]