In [ ]:
# 101. 파이썬에서 True 혹은 False를 갖는 데이터 타입은 무엇인가?

'''
>> 결과
bool 타입
'''

In [ ]:
# 102. 아래 코드의 출력 결과를 예상하라

print(3 == 5)

'''
>> 결과
False / 3 과 5는 같지 않다.
'''

In [ ]:
# 103. 아래 코드의 출력 결과를 예상하라

print(3 < 5)

'''
>> 결과
True / 3은 5보다 작다
'''

In [ ]:
# 104. 아래 코드의 결과를 예상하라.

x = 4
print(1 < x < 5)

'''
>> 결과
True
'''

In [ ]:
# 105. 아래 코드의 결과를 예상하라.

print ((3 == 3) and (4 != 3))

'''
>> 결과
True
'''

In [ ]:
# 106. 아래 코드에서 에러가 발생하는 원인에 대해 설명하라.

print(3 => 4)

'''
>> 결과
=> 연산자는 지원하지 않는 연산자이다.
'''

In [ ]:
# 107. 아래 코드의 출력 결과를 예상하라

if 4 < 3:
    print("Hello World")

'''
>> 결과
조건에 만족하지 않기 때문에 출력x
'''

In [ ]:
# 108. 아래 코드의 출력 결과를 예상하라

if 4 < 3:
    print("Hello World.")
else:
    print("Hi, there.")

'''
>> 결과
Hi, there.
'''

In [ ]:
# 109. 아래 코드의 출력 결과를 예상하라

if True :
    print ("1")
    print ("2")
else :
    print("3")
print("4")

'''
>> 결과
1
2
4
'''

In [ ]:
# 110. 아래 코드의 출력 결과를 예상하라

if True :
    if False:
        print("1")
        print("2")
    else:
        print("3")
else :
    print("4")
print("5")

'''
>> 결과
3
5
'''