In [1]:
# 141. 다음과 같이 판매가가 저장된 리스트가 있을 때 부가세가 포함된 가격을 for 문을 사용해서 화면에 출력하라. 단 부가세는 10원으로 가정한다.

'''
리스트 = [100, 200, 300]
110
210
310
'''

리스트 = [100, 200, 300]

for i in 리스트:
    print(int(i) + 10)

110
210
310

In [2]:
# 142. for 문을 사용해서 리스트에 저장된 값을 다음과 같이 출력하라.

리스트 = ["김밥", "라면", "튀김"]
# 오늘의 메뉴: 김밥
# 오늘의 메뉴: 라면
# 오늘의 메뉴: 튀김

for i in 리스트:
    print(f'오늘의 메뉴: {i}')

오늘의 메뉴: 김밥
오늘의 메뉴: 라면
오늘의 메뉴: 튀김

In [3]:
# 143. 리스트에 주식 종목이름이 저장돼 있다.
#      저장된 문자열의 길이를 다음과 같이 출력하라.

리스트 = ["SK하이닉스", "삼성전자", "LG전자"]

for i in 리스트:
    print(len(i))

6
4
4

In [4]:
# 144. 리스트에는 동물이름이 문자열로 저장돼 있다.
#      동물 이름과 글자수를 다음과 같이 출력하라.

리스트 = ['dog', 'cat', 'parrot']

for i in 리스트:
    print(i, len(i))

dog 3
cat 3
parrot 6

In [5]:
# 145. 리스트에 동물 이름 저장돼 있다.
#      for문을 사용해서 동물 이름의 첫 글자만 출력하라.

리스트 = ['dog', 'cat', 'parrot']

for i in 리스트:
    print(i[0])

d
c
p

In [6]:
# 146.리스트에는 세 개의 숫자가 바인딩돼 있다.
#     for문을 사용해서 다음과 같이 출력하라.
'''
3 x 1
3 x 2
3 x 3
'''

리스트 = [1, 2, 3]
for i in 리스트:
    print(f'3 x {i}')

3 x 1
3 x 2
3 x 3

In [7]:
# 147. 리스트에는 세 개의 숫자가 바인딩돼 있다.
#      for문을 사용해서 다음과 같이 출력하라.
'''
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
'''

리스트 = [1, 2, 3]
for i in 리스트:
    print(f'3 x {i} = {3*i}')

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9

In [8]:
# 148. 리스트에는 네 개의 문자열이 바인딩돼 있다.
#      for문을 사용해서 다음과 같이 출력하라.
'''
나
다
라
'''

리스트 = ["가", "나", "다", "라"]

for i in 리스트[1:]:
    print(i)

나
다
라

In [9]:
# 149. 리스트에는 네 개의 문자열이 바인딩돼 있다.
#      for문을 사용해서 다음과 같이 출력하라.
'''
가
다
'''

리스트 = ["가", "나", "다", "라"]

for i in 리스트[::2]:
    print(i)

가
다

In [10]:
# 150. 리스트에는 네 개의 문자열이 바인딩돼 있다.
#      for문을 사용해서 다음과 같이 출력하라.
'''
라
다
나
가
'''

리스트 = ["가", "나", "다", "라"]

for i in 리스트[::-1]:
    print(i)

라
다
나
가