In [ ]:
# 131. for문의 실행결과를 예측하라.

과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
    print(변수)

'''
>> 결과
사과
귤
수박
'''

In [ ]:
# 132. for문의 실행결과를 예측하라.

과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
  print("#####")

'''
>> 결과
#####
#####
#####
'''

In [ ]:
# 133. 다음 for 문과 동일한 기능을 수행하는 코드를 작성하세요.
'''
for 변수 in ["A", "B", "C"]:
  print(변수)
'''

'''
>> 결과
print("A")
print("B")
print("C")
'''

In [ ]:
# 134. for문을 풀어서 동일한 동작을하는 코드를 작성하라
'''
for 변수 in ["A", "B", "C"]:
  print("출력:", 변수)
'''

'''
>> 결과
print("출력:", "A")
print("출력:", "B")
print("출력:", "C")
'''

In [ ]:
# 135. for문을 풀어서 동일한 동작을 하는 코드를 작성하라.
'''
for 변수 in ["A", "B", "C"]:
  b = 변수.lower()
  print("변환:", b)
'''

'''
>> 결과
print('변환', 'A'.lower())
print('변환', 'B'.lower())
print('변환', 'C'.lower())
'''

In [3]:
# 136. 다음 코드를 for문으로 작성하라.

'''
변수 = 10
print(변수)
변수 = 20
print(변수)
변수 = 30
print(변수)
'''

for i in range(10, 40, 10):
    print(i)

10
20
30

In [4]:
# 138. 다음 코드를 for문으로 작성하라.
'''
print(10)
print("-------")
print(20)
print("-------")
print(30)
print("-------")
'''
for i in range(10, 40, 10):
    print(i)
    print("-------")

10
-------
20
-------
30
-------

In [5]:
# 139. 다음 코드를 for문으로 작성하라.
'''
print("++++")
print(10)
print(20)
print(30)
'''

for i in range(10, 40, 10):
    if i == 10:
        print("++++")
    print(i)

++++
10
20
30

In [6]:
# 140. 다음 코드를 for문으로 작성하라.
'''
print("-------")
print("-------")
print("-------")
print("-------")
'''

for i in range(0, 5):
    print("-------")

-------
-------
-------
-------
-------