<a href="https://colab.research.google.com/github/Um-king/orm/blob/main/240118_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 파이썬 버전별 변경사항

* Python 3.5: async await
* Python 3.6: Dict에 순서, f-string, 타입힌트
* Python 3.7: dataclasses
* Python 3.8: 왈러스 연산자(:=)
* Python 3.9: 딕셔너리 결합 연산자(|)
* Python 3.10: match

In [ ]:
# id, name, email이 각각 3번씩 반복
# -> 이러한 현상을  보일러 플레이트(boiler-plate)라 함
# -> print를 해도 필드값이 보이지 않아 불편
class User:
    def __init__(self, id, name, email):
        self.id = id
        self.name = name
        self.email = email

In [ ]:
# 위의 코드와 똑같은 것
# 하지만 실무에서 사용하는 분을 아무도 못봤음..

from dataclasses import dataclass

@dataclass
class User:
    id: int
    name: str
    email : str

user = User(123, 'hojun', 'hojun@gmail')
user

# 파일 입출력

In [ ]:
# open(파일이름, 파일모드)
f = open('python.txt', 'w') # 파일모드 : r, w, a, r+,
f.close()

In [ ]:
# 파일을 열었으면 꼭 닫아야한다.
# 닫지 않으면 메모리가 살아있다. => close() 명령을 꼭 사용

# open(파일이름, 파일모드)
f = open('python.txt', 'w') # 파일모드 : r, w, a, r+,
f.write('hello world') # 문자열 작성
f.close()

In [ ]:
# 파일 열기과 닫기를 동시에 -> 이렇게 사용하는 것을 권장
# with문을 사용하면 open과 close를 한꺼번에 할 수 있습니다.

with open('test.txt', 'w') as f:
    f.write('hello world!')

In [ ]:
# 파일 여러개 생성
for i in range(10):
    with open(f'test{i}.txt', 'w') as f:
        f.write('hello world!')

In [ ]:
db_data = [
  {
    "_id": "7f5440ab-7e2f-4a42-Be13-89987fa65b32",
    "index": "1",
    "name": "등윤상",
    "email": "user-qe89s09@ut.io",
    "phone": "010-3542-7711",
    "country": "키리바시",
    "address": "방학로 74-9",
    "job": "일러스트레이터"
  },
  {
    "_id": "b4f7ade0-38bb-4e6f-B94a-18af1426eb30",
    "index": "2",
    "name": "노동규",
    "email": "user-nyr5mqw@ornare.com",
    "phone": "010-9743-6320",
    "country": "베냉",
    "address": "남부순환로 54-6",
    "job": "애완동물미용사"
  },
  {
    "_id": "5d788255-8d5e-4f03-B446-dbac6a147e37",
    "index": "3",
    "name": "경진아",
    "email": "user-n7pey4v@Etiam.biz",
    "phone": "010-4049-8718",
    "country": "아르메니아",
    "address": "강남대로 87-5",
    "job": "플로리스트"
  },
  {
    "_id": "083efce4-17ed-4e9f-Ad7c-f9aa0ac6cb79",
    "index": "4",
    "name": "복소유",
    "email": "user-ohaz2is@nibh.biz",
    "phone": "010-3400-5945",
    "country": "페루",
    "address": "양산로 78-1",
    "job": "응급구조사"
  },
  {
    "_id": "d54ce0fa-c025-4af6-Cd9a-b9d10aa8be5a",
    "index": "5",
    "name": "화예빈",
    "email": "user-mnkpdlp@vel.net",
    "phone": "010-3120-8720",
    "country": "허드 및 맥도널드 제도",
    "address": "한남대로 6-2",
    "job": "전문의사"
  }
]

In [ ]:
# 미션 1
# 각각의 회원 이름_info.txt로 각각 정보 정리

# 미션 2
# 엑셀로 각각 정보 정리

# 미션 3
# html로 table로 정리하기 => table 클릭하면 정렬되게 하기(JS를 배우셨으면 했을텐데ㅜㅜ 나중에 해보세요.)

In [ ]:
# 미션 1
# 데이터를 뽑는 용도로는 map을 사용함 -> 기억하기! .. 데이터를 뽑는다? map 사용

list(map(lambda x:x['name'], db_data))

for i, name in enumerate(map(lambda x:x['name'], db_data)): # 첫번째 값은 인덱스값, 두번째는 name 값
    with open(f'{name}_info.txt', 'w') as f:
        f.write(str(db_data[i])) # 인원별 각 정보를 저장

In [ ]:
# 미션 2
# 엑셀로 각각 정보 정리
# "_id": "d54ce0fa-c025-4af6-Cd9a-b9d10aa8be5a",
# "index": "5",
# "name": "화예빈",
# "email": "user-mnkpdlp@vel.net",
# "phone": "010-3120-8720",
# "country": "허드 및 맥도널드 제도",
# "address": "한남대로 6-2",
# "job": "전문의사"
with open('data.csv', 'w') as f:
    s = '아이디,인덱스,이름,이메일,휴대폰,나라,주소,직업\n'
    for i in db_data:
        s += f'{i["_id"]},{i["index"]},{i["name"]},{i["email"]},{i["phone"]},{i["country"]},{i["address"]},{i["job"]}\n'
    f.write(s)

# 꼭 콤마(,)로 구분해야 csv 파일에 맞음

In [ ]:
# 부록
# 엑셀라이터
# 복습 x

# request나 bs4 기본 모듈 아닌데 colab에 깔려 있는 것
# 데스크톱에서 깔려있는지 확인하시지 않고 실행시키면 모듈이 없다고 나온다.

!pip install xlsxwriter

Collecting xlsxwriter
  Downloading XlsxWriter-3.1.9-py3-none-any.whl (154 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 154.8/154.8 kB 2.8 MB/s eta 0:00:00
Installing collected packages: xlsxwriter
Successfully installed xlsxwriter-3.1.9

In [ ]:
# 워크북(엑셀파일 1개입니다.)
# 워크시트(sheet이라고 아래 여러개의 sheet을 만들 수 있습니다.)
# 셀(네모 칸 하나)

import xlsxwriter

workbook = xlsxwriter.Workbook('hello.xlsx') # 엑셀 생성
worksheet = workbook.add_worksheet('test') # 시트 생성

worksheet.write('A1', 'A') # A1의 열에 값을 넣겠다.
worksheet.write('B1', 'B')
worksheet.write('C1', 'C')
worksheet.write('A2', 'D')
worksheet.write('B2', 'E')
worksheet.write('C2', 'F')

workbook.close() # 반드시 닫아야한다.

In [ ]:
import xlsxwriter

workbook = xlsxwriter.Workbook('hello2.xlsx') # 엑셀 생성
worksheet = workbook.add_worksheet('test') # 시트 생성

철수 = [10,20,30]
영희 = [40,50,60]

worksheet.write('A1', '국')
worksheet.write('B1', '영')
worksheet.write('C1', '수')
worksheet.write('A2', 철수[0])
worksheet.write('B2', 철수[1])
worksheet.write('C2', 철수[2])
worksheet.write('A3', 영희[0])
worksheet.write('B3', 영희[1])
worksheet.write('C3', 영희[2])

# 합계
for i in zip('ABC', 철수, 영희): # 철수와 영희의 동일 인덱스위치와 ABC인덱스 위치를 묶는다.
    worksheet.write(f'{i[0]}4', i[1] + i[2])

# D1에 평균 텍스트 삽입
worksheet.write('D1', '평균')
# 수식 삽입
worksheet.write('D2', '=SUM(A2:C2) / 3') # 국영수 점수 평균 엑셀 식
worksheet.write('D3', '=SUM(A3:C3) / 3')


workbook.close() # 반드시 닫아야한다.

In [ ]:
# 크롤링은 웹에서만 가져오는게 아니다
# 웹크롤링, 한글파일 크롤링, PDF 크롤링 -> 크롤링 후 엑셀로 만들 수 있다.

# 파일 형식 변환
# CSV => xlsx
# JSON => xlsx

# 메크로 작동 로직 => 엑셀

In [ ]:
db_data

In [ ]:
s = '''
<style>
    table {
        border-collapse: collapse;
        width: 100%;
        border: 1px solid black;
    }
    tr, td, th {
        border: 1px solid black;
    }
</style>
<table>
    <tr>
        <th>아이디</th>
        <th>인덱스</th>
        <th>이름</th>
        <th>이메일</th>
        <th>휴대폰</th>
        <th>나라</th>
        <th>주소</th>
        <th>직업</th>
    </tr>
'''

for i, _ in enumerate(db_data): # 인덱스 값 사용하려고 enumerate를 사용
    s += f'''
    <tr>
        <td>{db_data[i]["_id"]}</td>
        <td>{db_data[i]["index"]}</td>
        <td>{db_data[i]["name"]}</td>
        <td>{db_data[i]["email"]}</td>
        <td>{db_data[i]["phone"]}</td>
        <td>{db_data[i]["country"]}</td>
        <td>{db_data[i]["address"]}</td>
        <td>{db_data[i]["job"]}</td>
    </tr>
    '''

s += '''
</table>
'''


with open('info.html', 'w') as f:
    f.write(s)

In [ ]:
# 1. 강사님이 권하는 복습 방법: algo문제 푸는것(프로그래머스(Lv0), 100pyalgo(Lv0~2))
# 2. 이론을 복습하길 원하는 분: 인프런 영상 드린 Python 부트캠프

In [ ]:
# 파일 읽어오기
f = open('info.html', 'r')
while True:
    line = f.readline() # 한 라인씩 읽어온다.
    if not line:
        break
    print(line, end='')
f.close()

In [ ]:
# 파일 읽어오기 이렇게 해도 한번에 읽어옴
f = open('info.html', 'r')
data = f.read()
print(data)
f.close()

<style>
    table {
        border-collapse: collapse;
        width: 100%;
        border: 1px solid black;
    }
    tr, td, th {
        border: 1px solid black;
    }
</style>
<table>
    <tr>
        <th>아이디</th>
        <th>인덱스</th>
        <th>이름</th>
        <th>이메일</th>
        <th>휴대폰</th>
        <th>나라</th>
        <th>주소</th>
        <th>직업</th>
    </tr>

    <tr>
        <td>7f5440ab-7e2f-4a42-Be13-89987fa65b32</td>
        <td>1</td>
        <td>등윤상</td>
        <td>user-qe89s09@ut.io</td>
        <td>010-3542-7711</td>
        <td>키리바시</td>
        <td>방학로 74-9</td>
        <td>일러스트레이터</td>
    </tr>

    <tr>
        <td>b4f7ade0-38bb-4e6f-B94a-18af1426eb30</td>
        <td>2</td>
        <td>노동규</td>
        <td>user-nyr5mqw@ornare.com</td>
        <td>010-9743-6320</td>
        <td>베냉</td>
        <td>남부순환로 54-6</td>
        <td>애완동물미용사</td>
    </tr>

    <tr>
        <td>5d788255-8d5e-4f03-B446-dbac6a147e37</td>
        <td>3</td>
        <td>경진아</td>
        <td>user-n7pey4v@Etiam.biz</td>
        <td>010-4049-8718</td>
        <td>아르메니아</td>
        <td>강남대로 87-5</td>
        <td>플로리스트</td>
    </tr>

    <tr>
        <td>083efce4-17ed-4e9f-Ad7c-f9aa0ac6cb79</td>
        <td>4</td>
        <td>복소유</td>
        <td>user-ohaz2is@nibh.biz</td>
        <td>010-3400-5945</td>
        <td>페루</td>
        <td>양산로 78-1</td>
        <td>응급구조사</td>
    </tr>

    <tr>
        <td>d54ce0fa-c025-4af6-Cd9a-b9d10aa8be5a</td>
        <td>5</td>
        <td>화예빈</td>
        <td>user-mnkpdlp@vel.net</td>
        <td>010-3120-8720</td>
        <td>허드 및 맥도널드 제도</td>
        <td>한남대로 6-2</td>
        <td>전문의사</td>
    </tr>

</table>

# 비트연산

In [ ]:
# 실무에서 비트 연산을 하는 경우가 거~~~의 없다
# 알고리즘 테스트에서 CS지식 정도를 테스트하는 용도로 간혹 출제가 된다.

# 10진법
# 1542 == 1 * (10**3) + 5 * (10**2) + 4 * (10**1) + 2 *(10**0)
# 0123456789 10

# 16진법
# 1542 == 1 * (16**3) + 5 * (16**2) + 4 * (16**1) + 2 *(16**0)
# 0123456789abcdef 10

# 8진법
# 1542 == 1 * (8**3) + 5 * (8**2) + 4 * (8**1) + 2 * (8**0)
# 01234567 10

In [ ]:
# 진법 변환 팁

# 10진법 == 2진법
# 1 == 1
# 2 == 10
# 4 == 100
# 8 == 1000
# 16 == 10000

# 9는? 8 + 1 => 1000 + 1 => 1001
# 15는? 16 - 1 => 10000 - 1 => 1111


# 보통 비트 연산자를 알고리즘 출제 보면 and(&)와 or(|)가 가장 많음 나머지는 거의 못봄(xor(^), not(~), shift)

In [ ]:
3 & 9 # and 비트 연산: 두 비트열의 동일한 위치에 1이 있는 경우에만 1을 반환

# 0011
# 1001
# ----
# 0001 (가장 마지막에 있는 위치에 둘다 1이 존재)
# 따라서 0001 = 1(10진법) -> 1 출력

1

In [ ]:
3 | 9 # or 비트 연산: 두 비트열의 동일한 위치에 하나라도 1이 있는 경우 1을 반환

# 0011
# 1001
# ----
# 1011 (동일한 위치에 1이 하나라도 있으면 1)
# 따라서 1011 = 11(10진법) -> 11 출력

11

In [ ]:
# 8개의 비트(bit)를 숫자로 사용할 수 있다
# 8개의 비트를 사용하면 1개를 부호 비트로 사용

00000000
11111111

# 1을 표현
00000001 == 1
# -1을 표현(1을 8개 비트를 다 뒤집는다)
11111110 == -1

# 두개를 더한다면
11111111
# 우리가 원하는 0의 답을 구하려면
# 11111111 + 1 => 00000000 (0)  # 컴퓨터는 이렇게 인식함

In [ ]:
# 코딩테스트 프로그래머스 비밀지도 // 풀어보기
# https://school.programmers.co.kr/learn/courses/30/lessons/17681

# 이런식으로 2진법으로 풀어라 라는것을 눈치채야한다
# 밑의 예처럼 2진법 작성을 할주 알아야함
9 | 30
bin(9 | 30)
bin(9 | 30)[2:] # or 비트연산이 계산된 2진법 출력

bin(9 | 30)[2:].replace('1', '#').replace('0', ' ')

# 답안
# ["#####","# # #", "### #", "# ##", "#####"]

# 정답
arr1 = [9, 20, 28, 18, 11]
arr2 = [30, 1, 21, 17, 28]

for i, j in zip(arr1, arr2):
    print(bin(i | j)[2:].replace('1', '#').replace('0', ' '))

#####
# # #
### #
#  ##
#####

In [ ]:
bin(31) # 2진법 변환
oct(31) # 8진법 변환
hex(31) # 16진법 변환

int('0b11111', 2) # 2진수를 10진수로 변환
int('11111', 2) # 2진수를 10진수로 변환

31

In [ ]:
# print에 들어가는 문자열 만들기

name = '이호준'
age = 10

'제 이름은 %s이고 제 나이는 %d입니다.'%(name, age) # % 용법(거의 사용하지 않음)
'제 이름은 {}이고 제 나이는 {}입니다'.format(name, age) # format 용법(이 문법도 아직 많이 사용합니다.)
f'제 이름은 {name}이고 제 나이는 {age}입니다' # f-string 용법(권고합니다.)

In [ ]:
삼 = '짝'*3
칠 = '짝'*7

print('삼삼칠 박수 :  {0}!!! {0}!!! {1}!!! '.format(삼, 칠))
print(f'삼삼칠 박수 :  {삼}!!! {삼}!!! {칠}!!!')
print(f'삼삼칠 박수 :  {삼*2}!!! {삼}!!! {칠}!!!') # {}안에 연산하는 것은 가독성을 해칠 우려가 있다.

삼삼칠 박수 :  짝짝짝!!! 짝짝짝!!! 짝짝짝짝짝짝짝!!!
삼삼칠 박수 :  짝짝짝!!! 짝짝짝!!! 짝짝짝짝짝짝짝!!!

In [ ]:
# 파이썬(Python) 3.6 f-string 방식
# 소수점
one_length = 5.343


print(f'{one_length} 입니다.')
print(f'{one_length:.1f} 입니다.')
print('{0:.2f}'.format(one_length))
print('{:.2f}'.format(one_length))

5.343 입니다.
5.3 입니다.
5.34
5.34

In [ ]:
# {:^길이} : 가운데 정렬 => 많이 사용
# log 출력할때 가운데 정렬은 많이 사용된다.

age = 100

print('당신의 나이는 [{:^15}]세'.format(22))  # 15칸을 두고 가운데 정렬
print(f'당신의 나이는 [{age:^15}]세')

print(f'당신의 나이는 [{age:>15}]세')
print(f'당신의 나이는 [{age:<15}]세')

# 가운데 정렬후 남은 공간을 해당 문제로 처리
print(f'당신의 나이는 [{age:-^15}]세')
print(f'당신의 나이는 [{age:=^15}]세')
print(f'당신의 나이는 [{age:#^15}]세')

당신의 나이는 [      22       ]세
당신의 나이는 [      100      ]세
당신의 나이는 [            100]세
당신의 나이는 [100            ]세
당신의 나이는 [------100------]세
당신의 나이는 [======100======]세
당신의 나이는 [######100######]세

In [ ]:
age = 10

print(f"My set is {{1, 2, 3}}.")  # 출력: My set is {1, 2, 3}.
print(f"My set is {{age*1 , age*2, age*3}}.")  # 출력: My set is {age*1 , age*2, age*3}.

# 따라서 문자열에 {}를 사용하고, 값을 출력할때는 중괄호 3개를 써야한다.
print(f"My set is {{{age*3}}}.")

My set is {1, 2, 3}.
My set is {age*1 , age*2, age*3}.
My set is {30}.

In [ ]:
l = []
for i in range(2, 10):
    for j in range(1, 10):
        l.append(f'{i} X {j} = {i * j}')
l

In [ ]:
# 리스트 컴프리헨션
# 리스트 컴프리헨션은 속도가 for문보다 빠르다 -> for문의 속도가 뭔가 문제가 있을경우 컴프리헨션으로 써야한다.

# 컴프리헨션은 3중 이상 중첩되는걸 권장하지 않음
# 2중까지는 인정을 해주는 편
# 하지만 위에 for문 처럼 쓰는게 가독성엔 좋음(2중이상일 경우)

l = [f'{i} X {j} = {i * j}' for i in range(2, 10) for j in range(1, 10)]
l

# 비동기와 코루틴

In [ ]:
!pip install nest_asyncio

Requirement already satisfied: nest_asyncio in /usr/local/lib/python3.10/dist-packages (1.5.8)

In [ ]:
# 동기 프로그래밍
# 코드가 순차적으로 실행되며, 특정 작업이 완료될 때까지 프로그램이 기다리는 방식
import nest_asyncio
import time

nest_asyncio.apply()

def job(number):
    print(f"Job {number} started")
    time.sleep(1)  # 매우 오래 걸리는 작업, 일반 sleep은 CPU를 쉬게 합니다.
    print(f"Job {number} completed")

# 순서대로 시작하고 종료된다.
job(1)
job(2)
job(3)

Job 1 started
Job 1 completed
Job 2 started
Job 2 completed
Job 3 started
Job 3 completed

In [ ]:
# 비동기 프로그래밍

# colab에서 작동하는 코드
# 기본 base는 colab에서 작동하지 않습니다.
import asyncio

async def job(number):
    print(f"Job {number} started")
    await asyncio.sleep(1) # 매우 오래 걸리는 작업, asyncio.sleep은 비동기 처리를 할 수 있도록 합니다.(다른 작업이 가능합니다.)
    print(f"Job {number} completed")

async def main():
    await asyncio.gather(job(1), job(2), job(3)) # await asyncio.wait([job(1), job(2), job(3)])

# job1,2,3들이 같이 시작됨(동시에 여러 작업을 진행)
asyncio.run(main())
print('hello world')

Job 1 started
Job 2 started
Job 3 started
Job 1 completed
Job 2 completed
Job 3 completed
hello world

In [ ]:
async def job():
    print('job')

print(job) # <function job at 0x7fc8cb38ef80>
job() # <coroutine object job at 0x7fc8cb32bc30>, print('job')이 실행되진 않습니다!

In [ ]:
async def job():
    print('job')

async def main():
    return await job()

print(main) # <coroutine object main at 0x7fc8cb22bf40>
print(await main()) # None

# 정규표현식

정규표현식 연습사이트(구글): https://regexr.com/5nvc2

여기서 해당 정규식을 대입해서 검색되는거 확인하면 됨


복잡한 문자열을 처리할때 사용하는 기법

In [ ]:
# 유효성 검증(validator), 문자열 처리, 코딩 테스트(1문제는 필수로 나옴)
# 다른 언어에서도 사용할 수 있다

In [ ]:
# 정규표현식 연습사이트(구글): https://regexr.com/5nvc2
# 끝에 hello를 찾는건 hello$
# 처음에 hello가 시작하는 것을 찾을때 ^hello
# 처음이자 끝인 문자열이 hello인 것 : ^hello$

# /./gm : 모든 문자열(*과 같은 역할) => 모든 문자열을 찾음
# /...../gm : 모든 5개의 문자열 => 모든 문자를 5글자로 자름

# 택1: 대괄호를 사용하면 대괄호 안에 있는 텍스트 중 택 1합니다 => h[eao]llo -> 두번째 글자가 e,a,o인 문자열을 찾음 -> hello, hallo, hollo

# h[a-zA-Z0-9]llo : h[]llo 문자이면서 두번째 문자가 전부 가능함

# 전화번호 : 010-[0-9][0-9][0-9][0-9]-[0-9][0-9][0-9][0-9] => 010-xxxx-xxxx 0~9까지 숫자를 찾음
# 간혹 010.xxxx.xxxx 이렇게나 010 xxxx xxxx 이렇게 입력하는 사람도 있어서
# 010[- .][0-9][0-9][0-9][0-9][- .][0-9][0-9][0-9][0-9] 이렇게 표현식을 사용(-, 공백, .)

# [a-zA-Z0-9]: 해당 내용을 제외한 나머지 문자열을 찾음 : 꺽새는 대괄호안에서 부정을 뜻함(반대의 값을 찾음) => 해당 문자열을 제외하고 찾고 싶을 때에는 대괄호안에 부정을(^) 사용합니다.

# (on|ues|rida)/gm : 그룹 1로 3개 중 매칭되는 패턴 찾음

In [ ]:
# 수량자
# _* : 앞에 있는 문자가 0개 ~ N개
# _+ : 앞에 있는 문자가 1개 ~ N개
# _? : 앞에 있는 문자가 0개 ~ 1개

# {3} : 3개
# {3,} : 3개 이상
# {1,3} : 1개 ~ 3개

# _* : 앞에 있는 문자가 0개 ~ N개 ({0,})
# _+ : 앞에 있는 문자가 1개 ~ N개({1,})
# _? : 앞에 있는 문자가 0개 ~ 1개 ({0,1})

# /[0-9]{3}[-.* ][0-9]{4}[-.* ][0-9]{4}/gm
# /[0-9a-zA-Z]{2,3}[-.* ][0-9]{3,4}[-.* ][0-9]{4}/gm
# /[0-9a-zA-Z]+@[0-9a-zA-Z]+.[a-zA-Z]+/gm

# 010[- .][0-9][0-9][0-9][0-9][- .][0-9][0-9][0-9][0-9] 이렇게 했는데 번호가 01019133829 이러면..?
# 010[- .]?[0-9][0-9][0-9][0-9][- .]?[0-9][0-9][0-9][0-9] 이런 식으로 ?를 사용하여 찾는다.

# 010[- .][0-9][0-9][0-9][0-9][- .][0-9][0-9][0-9][0-9] 이렇게되면 반복이 많아지니깐
# 010[- .][0-9]{4}[- .][0-9]{4} 이런식으로 사용 => [0-9]를 4번 쓰겠다라는 뜻

# [0-9a-zA-Z]+@[0-9a-zA-Z]+.[a-zA-Z]+ # 이메일 검색, 도중에 +를 사용했으니 1개~N개
# => 2@gmail.com은 가능, _@gmail.com은 검색을 못함 -> 특수문자는 찾는걸로 설정을 안해서 -> 특수문자만 있어도 국제표준으로 메일 생성은 가능


# 네이버 이메일 정규 표현식
# [a-zA-Z0-9+-_.]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+

# 전화번호(집번호)
# [0-9]{2,3}[-.* ][0-9]{3,4}[-.* ][0-9]{4} # 02-xxx-xxxx, 031-xxx-xxxx , 051-xxxx-xxxx 이런식으로 집번호는 존재 따라서 첫번째에는 2,3길이, 두번째에는 3,4길이가 존재할 수 있다는 것이다.

In [ ]:
# 캐릭터 클래스
# /\w/gm : 워드
# /\w{5} /gm : 5개의 글자와 스페이스 하나
# /\W/gm : not 워드
# /\d/gm : 숫자
# /\D/gm : not 숫자
# /\s/gm : 스페이스
# /\S/gm : not 스페이스

# 번호 검색 예시
# ^\d{3}[- .]?\d{3,4}[- .]?\d{4}$

In [ ]:
# 이스케이프 문자
# /\[.*]/gm : 대괄호([]) 안에 감싸여진 문자열
# /\(.*\)/gm : 소괄호 안에 감싸여진 문자열
# /\\.*\//gm : 이미 사용되고 있는 특수문자로 감싸여진 문자열
# /-.*-/gm : 이스케이프 문자를 사용할 필요가 없는 경우
# /\^\^/gm : 이스케이프 문자가 필요한 경우
# /:\)/gm : 이스케이프 문자가 필요한 경우

# 예시
# \[.*\], \[.*\]

## findall

In [ ]:
# 사용되는 패턴

# 1
p = re.compile(r'([0-9]|10)([SDT])([\*\#]?)')
p.findall('1S2D*3T')

# 2 # 카카오 코딩 테스트에 나온 문제(카카오 다트게임) : https://school.programmers.co.kr/learn/courses/30/lessons/17682
re.findall(r'([0-9]|10)([SDT])([\*\#]?)', '1S2D*3T') # 1S : 싱글 / 2D* :더블 / 3T : 트리플 // 싱글이 1제곱, 더블이 2제곱, 트리플이 3제곱되는 것

# 자주 사용하는 메서드
sub() # 매치된 부분을 치환 (str에 replace와 같은 역활)
findall() # 매치된 부분 모두 리스트 반환

In [59]:
# 1S // 2D* // 3T

# 많은 사람들이 이렇게 풀것이다.
l = []
for i in '1S2D*3T':
    if i.isdigit():
        l.append(int(i))
    elif i == 'S':
        l[-1] = l[-1] ** 1
    elif i == 'D':
        l[-1] = l[-1] ** 2
    elif i == 'T':
        l[-1] = l[-1] ** 3

print(l)
sum(l)


# 여기서 함정
# 위의 다트 문제에서는 점수는 0~10점까지다.
# for i in '1S2D*10T': 이렇게, 1점 2점 10점이 들어왔을때 반복문을 수행하면 1과 0 따로 인덱싱되어 반복문 수행
# 따라서 다음 숫자나 앞에 숫자가 0인지 파악해야함 -> 그래야 10점에 대한 점수를 싱글이든 더블이든 트리플이든 반영할 수 있음
# 이때 정규표현식을  사용하는 것!

[1, 4, 27]

32

In [60]:
# 다음 점수가 10점인지 파악해야하고, 정규표현식은 가능하다

import re

list(re.findall(r'([0-9]|10)([SDT])([\*\#]?)', '1S2D*3T')) # SDT가 싱글, 더블, 트리플 .. 1S2D*3T가 1점 싱글, 2점으로 더블, 3점으로 트리플 // 1,2,3이 점수다.
# (0~9 또는 10), (SDT:싱글/더블/트리플), (*아니면 둘중에하나), ?는 포함되도 되고 안되도 된다는 뜻

# 이렇게 정규표현식을 사용하면 점수와 싱글/더블/트리플 출력이 쉽다.

[('1', 'S', ''), ('2', 'D', '*'), ('3', 'T', '')]

In [61]:
# 보통 이렇게 푸는 게 좋다
d = {
    'S' : 1,
    'D' : 2,
    'T' : 3
}

for 점수, 승수, 상 in re.findall(r'([0-9]|10)([SDT])([\*\#]?)', '1S2D*3T'):
    print(int(점수) ** d[승수])

1
4
27

In [65]:
# findall 예시

# 10점이어도 상관 없이 1과 0으로 나눠지는게 아니라 10으로 검색됨  // 반복문을 사용하면 문자열 인덱스별로 하나씩 가져오고 10이란 숫자가 1과 0으로 나눠짐
d = {
    'S' : 1,
    'D' : 2,
    'T' : 3
}

print(re.findall(r'([0-9]|10)([SDT])([\*\#]?)', '1S2D*10T')) # 정규표현식으로 인해 1, 2, 10이라는 점수가 검색됨

for 점수, 승수, 상 in re.findall(r'([0-9]|10)([SDT])([\*\#]?)', '1S2D*10T'):
    print(int(점수) ** d[승수])

for 점수, 승수, 상 in re.findall(r'([0-9]|10)([SDT])([\*\#]?)', '1S10D*10T'): # 0~9를 검색하고 또는 10을 검색
    print(int(점수) ** d[승수]) # 해당 점수에 싱글이면 1제곱, 더블이면 2제곱, 트리플이면 3제곱

[('1', 'S', ''), ('2', 'D', '*'), ('10', 'T', '')]
1
4
1000
1
100
1000

In [ ]:
# findall 예시

# 위니브 100알고리즘 문제 中
# https://pyalgo.co.kr/?page=2#
re.findall(r'([rev])(10|[0-9])', 'a10b9r1ce33uab8wc918v2cv11v9') # (정규표현식, 검색 값) / 입력값: 'a10b9r1ce33uab8wc918v2cv11v9'
# rev가 포함된 문자열과  rev뒤에 있는 0~9 또는 10의 숫자 출력


# 입력값: 'a10b9r1ce33uab8wc918v2cv11v9' 에서 r,e,v 문자를 뽑고 r,e,v 문자 뒤에 숫자가 나오는 것들을 뽑는다.
# => r1, e3, v2, v1, v9 //  rev를 포함하고 rev문자뒤에 숫자가 나오는 것을 추출

## sub

In [ ]:
# sub 예시

# 문제 링크 : https://school.programmers.co.kr/learn/courses/30/lessons/120849

# 영어에선 a, e, i, o, u 다섯 가지 알파벳을 모음으로 분류합니다.
# 문자열 my_string이 매개변수로 주어질 때 모음을 제거한 문자열을 return하도록 solution 함수를 완성해주세요.

In [66]:
# 보통 이렇게 풀 것이다.
def solution(my_string):
    return my_string.replace('a', '').replace('e', '').replace('i', '').replace('o', '').replace('u', '')

# 복습 X
# dir("nice to meet you")
s = "nice to meet you"
ch = s.maketrans("aeiou", "     "); # 공백 5개

print(s.translate(ch));

n c  t  m  t y

In [68]:
# 정규표현식 sub 사용

def solution(my_string):
    return re.sub(r"[aeiou]", "", my_string)

solution("nice to meet you")

'nc t mt y'

In [70]:
# 이렇게 입력이 되었을 때 문자열을 제외해달라

# 문제: 아래 문자열에서 모든 문자를 제거하고 숫자만 모두 더해주세요
# 'hello1928ljwlie123slie21e1j3'


# 정말 많이 사용됨
import re

def solution(my_string):
    return re.sub(r"[a-zA-z]", "", my_string) # sub(r"[a-zA-z]", "", 값) 값의 모든 문자(a~z, A~Z)를 ""로 변경

solution('hello1928ljwlie123slie21e1j3')

'19281232113'

In [71]:
# 숫자 합산
import re

def solution(my_string):

    # map 처리후 list로 형변환 없이 sum하면 된다 -> 리스트로 형변환하는 거 자체가 부하
    return sum(map(int, list(re.sub(r"[a-zA-z]", "", my_string)))) # 해당 문자열의 문자를 제거 후 정수로 바꿈 -> map 사용에 대해서 한번 더 확인해보기!

solution('hello1928ljwlie123slie21e1j3')

33

In [76]:
print(list(re.findall(r'[0-9]', 'hello1928ljwlie123slie21e1j3')))  # 1928, 123 값의 숫자가 한자리씩 나눠짐... -> 이러면 안됨
print(list(re.findall(r'[0-9]+', 'hello1928ljwlie123slie21e1j3'))) # 숫자가 연속으로 나오는건 숫자를 하나씩 나눌 필요 없음
# 이때 +를 사용!

# 1000이라는 숫자가 문자열에 포함되어 있는데 이걸 1,0,0,0으로 나누면 안되는 것처럼
# 1928이란 숫자가 하나의 값이니깐 나눠지면 안된다 -> 이때 +를 사용!

['1', '9', '2', '8', '1', '2', '3', '2', '1', '1', '3']
['1928', '123', '21', '1', '3']

In [77]:
import re

my_string = "aAb1B2cC34oOp"
re.sub('[^1-9]', '', my_string) # 대괄호안에 ^(꺽새)는 not 즉 부정을 의미
# 숫자가 아닌 것은 ''으로  수정

'1234'

In [78]:
import re

my_string = "aAb1B2cC34oOp"
re.sub('\d', '', my_string) # wd는 숫자를 뜻함 -> 숫자는 ''로 변경

'aAbBcCoOp'

In [79]:
# 패턴에 맞는 그룹을 뽑아내서 해당 조건에 맞게 변경하겠다.

# 복습 X
import re

print(re.sub(r'([0-9]{3})-([0-9]{4})-([0-9]{4})', r'\1!\2!\3', '010-5000-3000'))
print(re.sub(r'([0-9]{3})-([0-9]{4})-([0-9]{4})', r'\1/\2/\3', '010-5000-3000'))
print(re.sub(r'([0-9]{3})-([0-9]{4})-([0-9]{4})', r'[\1][\2][\3]', '010-5000-3000'))
print(re.sub(r'([0-9]{3})-([0-9]{4})-([0-9]{4})', r'[\1]-[\2]-[\3]', '010-5000-3000'))
print(re.sub(r'([0-9]{3})-([0-9]{4})-([0-9]{4})', r'지역번호: \1 전화번호: \2\3', '010-5000-3000'))

010!5000!3000
010/5000/3000
[010][5000][3000]
[010]-[5000]-[3000]
지역번호: 010 전화번호: 50003000

In [82]:
# 복습 X
import re

# ?P<그룹명> 선언하고 \g<그룹명> 으로 그룹화하여 관리할 수 있다.
print(re.sub(r'(?P<one>[0-9]{3})-(?P<two>[0-9]{4})-(?P<three>[0-9]{4})', r'\g<one>\g<two>\g<three>', '010-5000-3000')) # 위에 코드와 동일하게 사용할수 있다.

01050003000

In [83]:
import re

text = '''# This is a h1
## This is a h2
### This is a h3
#### This is a h4
##### This is a h5
###### This is a h6

* This is a bulleted list
  * This is a nested bulleted list

**This is bold text**

_This is italic text_

~~This text is strikethrough~~
'''

def markdown_to_html(markdown):
    html = re.sub(r'### (.*)', r'\1', markdown)
    html = re.sub(r'## (.*)', r'\1', html)
    html = re.sub(r'# (.*)', r'\1', html)
    html = re.sub(r'`(.*)`', r'\1', html)
    html = re.sub(r'\*\*(.*)\*\*', r'\1', html)
    html = re.sub(r'_(.*)_', r'\1', html)
    html = re.sub(r'~~(.*)~~', r'\1', html)
    html = re.sub(r'^(>+) (.*)', r'\1\2', html)
    # html = re.sub(r'^\* (.*)', r'\1', html, flags=re.M+re.S)
    return html

print(markdown_to_html(text))

This is a h1
This is a h2
This is a h3
#This is a h4
##This is a h5
###This is a h6

* This is a bulleted list
  * This is a nested bulleted list

This is bold text

This is italic text

This text is strikethrough

In [84]:
import re

text = '''# This is a h1
## This is a h2
### This is a h3
#### This is a h4
##### This is a h5
###### This is a h6

* This is a bulleted list
  * This is a nested bulleted list

**This is bold text**

_This is italic text_

~~This text is strikethrough~~
'''

def markdown_to_html(markdown):
    html = re.sub(r'# (.*)', r'<h1>\1</h1>', markdown)
    # html = re.sub(r'## (.*)', r'\1', html)
    # html = re.sub(r'### (.*)', r'\1', html)
    # html = re.sub(r'`(.*)`', r'\1', html)
    # html = re.sub(r'\*\*(.*)\*\*', r'\1', html)
    # html = re.sub(r'_(.*)_', r'\1', html)
    # html = re.sub(r'~~(.*)~~', r'\1', html)
    # html = re.sub(r'^(>+) (.*)', r'\1\2', html)
    # html = re.sub(r'^\* (.*)', r'\1', html, flags=re.M+re.S)
    return html

print(markdown_to_html(text))

<h1>This is a h1</h1>
#<h1>This is a h2</h1>
##<h1>This is a h3</h1>
###<h1>This is a h4</h1>
####<h1>This is a h5</h1>
#####<h1>This is a h6</h1>

* This is a bulleted list
  * This is a nested bulleted list

**This is bold text**

_This is italic text_

~~This text is strikethrough~~

In [85]:
import re

text = '''# This is a h1
## This is a h2
### This is a h3

**This is bold text**
'''

def markdown_to_html(markdown):
    html = re.sub(r'### (.*)', r'<h3>\1<h3>', markdown)
    html = re.sub(r'## (.*)', r'<h2>\1<h2>', html)
    html = re.sub(r'# (.*)', r'<h1>\1</h1>', html)
    html = re.sub(r'\*\*(.*)\*\*', r'<strong>\1</strong>', html)
    return html

print(markdown_to_html(text))

<h1>This is a h1</h1>
<h2>This is a h2<h2>
<h3>This is a h3<h3>

<strong>This is bold text</strong>